<!-- Copyright (c) 2018, XJ Music Inc. (https://xj.io) All Rights Reserved. -->

<!-- Inner Content -->
{{outlet}}

<!-- Upper Container -->
{{#modal-dialog}}
  <div class="form-horizontal container-fluid">

    <!-- Clone -->
    <div class="form-group row">
      <h3>Move</h3>
    </div>

    <!-- Instrument (Parent) -->
    <div class="form-group row">
      <label class="col-sm-2 control-label">Instrument</label>
      <div class="col-sm-10">
        {{#power-select
          placeholder="Select Instrument"
          options=model.instruments
          selected=model.audio.instrument
          searchField='name'
          onChange=(action "setAudioInstrument")
        as |instrument| }}
          {{instrument.name}} (#{{instrument.id}})
        {{/power-select}}
      </div>
    </div>

    <!-- Name -->
    <div class="form-group row">
      <label class="col-sm-2 control-label">Name</label>
      <div class="col-sm-10">
        {{input type="text" value=model.audio.name class="form-control" autofocus="autofocus"
                placeholder="The name of the Audio"}}
      </div>
    </div>

    <div class="form-group row">
      <div class="offset-sm-2 col-sm-10">
        <button type="submit" class="btn btn-primary" {{action 'moveAudio' model.audio}}>Move</button>
        <button type="button" class="btn btn-default" {{action 'cancel' model}}>Cancel</button>
      </div>
    </div>
  </div>

{{/modal-dialog}}
