<!-- Copyright (c) 2018, XJ Music Inc. (https://xj.io) All Rights Reserved. -->

<!-- Inner Content -->
{{outlet}}

<!-- Upper Container -->
<div class="form-horizontal container-fluid">

  {{#if (or auth.isArtist auth.isAdmin)}}
    <div class="col-sm-12 text-right">
      {{#link-to 'accounts.one.libraries.one.instruments.one.audios.new' model.instrument.library.account model.instrument.library model.instrument}}{{fa-icon "plus"}} Create New Audio{{/link-to}}
    </div>
  {{/if}}

  <!-- List of Audios -->
  <div class="col-sm-12">
    <div class="table-list">
      <table class="table">
        <thead>
        <tr>
          <th>Name</th>
          <th>Waveform</th>
          <th width="1%">tempo</th>
          <th width="1%">pitch</th>
          <th width="1%">start</th>
          <th width="1%">length</th>
          <th><!-- Actions --></th>
          <th width="1%">#</th>
        </tr>
        </thead>
        <tbody>
        {{#each model.audios as |audio|}}
          <tr class="item">
            <td>{{#link-to "accounts.one.libraries.one.instruments.one.audios.one"
                                       audio}}{{audio.name}}{{/link-to}}</td>
            <td><audio controls>
              <source src="{{model.audioBaseUrl}}{{audio.waveformKey}}" type="audio/wav">
              Your browser does not support the audio element.
            </audio></td>
            <td>{{audio.tempo}}</td>
            <td>{{audio.pitch}}</td>
            <td>{{audio.start}}</td>
            <td>{{audio.length}}</td>
            <td>
              {{#link-to 'accounts.one.libraries.one.instruments.one.audios.one.events' audio.instrument.library.account audio.instrument.library audio.instrument audio}}Events{{/link-to}}<span>&nbsp;</span>
              {{#link-to 'accounts.one.libraries.one.instruments.one.audios.one.chords' audio.instrument.library.account audio.instrument.library audio.instrument audio}}Chords{{/link-to}}<span>&nbsp;</span>
              {{entity-actions "accounts.one.libraries.one.instruments.one.audios.one" "edit|clone|destroy" audio.instrument.library.account audio.instrument.library audio.instrument audio}}
            </td>
            <th scope="row">{{audio.id}}</th>
          </tr>
        {{/each}}
        </tbody>
      </table>
    </div>
  </div>

</div>
