<!-- Copyright (c) 2018, XJ Music Inc. (https://xj.io) All Rights Reserved. -->

<!-- Inner Content -->
{{outlet}}

<!-- Upper Container -->
{{#if (or auth.isArtist auth.isAdmin)}}
  <div class="form-horizontal container-fluid">
    <div class="col-sm-12 text-right">
      {{#link-to 'accounts.one.libraries.one.instruments.new' model.library.account model.library}}{{fa-icon "plus"}}
        Create New Instrument{{/link-to}}
    </div>
  </div>
{{/if}}

<div class="table-list">
  <table class="table">
    <thead>
    <tr>
      <th width="1%">
        <select class="form-control" onchange={{action "selectFilterInstrumentType" value="target.value"}} title="Type">
          {{#if config.instrumentTypes}}
            <option value="" selected={{eq null type}}>{{type}}</option>
            {{#each config.instrumentTypes as |type|}}
              <option value={{type}} selected={{eq filterInstrumentType type}}>{{type}}</option>
            {{/each}}
          {{else}}
            <option value={{filterInstrumentType}} selected>{{filterInstrumentType}}</option>
          {{/if}}
        </select>
      </th>
      <th width="1%">
        <select class="form-control" onchange={{action "selectFilterInstrumentState" value="target.value"}} title="State">
          {{#if config.instrumentStates}}
            <option value="" selected={{eq null state}}>{{state}}</option>
            {{#each config.instrumentStates as |state|}}
              <option value={{state}} selected={{eq filterInstrumentState state}}>{{state}}</option>
            {{/each}}
          {{else}}
            <option value={{filterInstrumentState}} selected>{{filterInstrumentState}}</option>
          {{/if}}
        </select>
      </th>
      <th>
        {{input type="text" value=filterInstrumentName class="form-control"
                placeholder="The name of the Instrument"}}
      </th>
      <th width="1%"><!--Density--></th>
      <th><!-- Memes --></th>
      <th width="25%"><!-- Actions --></th>
    </tr>
    <tr>
      <th>Type</th>
      <th>State</th>
      <th>Name</th>
      <th>Density</th>
      <th><!-- Memes --></th>
      <th><!-- Actions --></th>
    </tr>
    </thead>
    <tbody>
    {{#each filteredInstruments as |instrument|}}
      <tr class="item">
        <td>{{instrument.type}}</td>
        <td>{{instrument.state}}</td>
        <td>{{#link-to "accounts.one.libraries.one.instruments.one" instrument.library.account instrument.library
                       instrument}}{{instrument.name}}{{/link-to}}</td>
        <td>{{instrument.density}}</td>
        <td>
          {{#if instrument.instrumentMemes.length}}
            {{#each instrument.instrumentMemes as |instrumentMeme|}}
              <span>{{instrumentMeme.name}}</span>
            {{/each}}
          {{else}}
            <p>(none)</p>
          {{/if}}
        </td>
        <td>
          {{#link-to 'accounts.one.libraries.one.instruments.one.memes'
                     instrument.library.account instrument.library instrument}}Memes{{/link-to}}
          <span>&nbsp;</span>
          {{#link-to 'accounts.one.libraries.one.instruments.one.audios' instrument.library.account instrument.library
                     instrument}}Audios{{/link-to}}
          <span>&nbsp;</span>
          {{entity-actions "accounts.one.libraries.one.instruments.one" "edit|clone|destroy" instrument.library.account
                           instrument.library instrument}}
        </td>
      </tr>
    {{/each}}
    </tbody>
  </table>
</div>

