<!-- Copyright (c) 2018, XJ Music Inc. (https://xj.io) All Rights Reserved. -->

<!-- Inner Content -->
{{outlet}}


<!-- Upper Container -->
<div class="form-horizontal container-fluid">

  {{#if auth.isAdmin}}
    <div class="col-sm-12 text-right">
      {{#link-to 'accounts.one.chains.new' model.account}}{{fa-icon "plus"}} Create New Chain{{/link-to}}
    </div>
  {{/if}}

  <!-- List of Chains -->
  {{#if model.chains.length}}
    <div class="col-sm-12">
      <div class="table-list">
        <table class="table">
          <thead>
          <tr>
            <th width="1%"><!--Navigate To--></th>
            <th>Name</th>
            <th width="1%">Type</th>
            <th width="1%">State</th>
            <th width="1%"><!--Change State To --></th>
            <th width="1%">Start At</th>
            <th width="1%">Stop At</th>
            <th><!-- Actions --></th>
            <th width="1%">Play</th>
          </tr>
          </thead>
          <tbody>
          {{#each model.chains as |chain|}}
            <tr class="item {{lowercase chain.state}}-state {{if (eq player.currentChain.id chain.id) 'now-playing'}}">
              <td>{{#link-to "accounts.one.chains.one.links" chain class="btn btn-icon-open"}}{{/link-to}}</td>
              <td>{{#link-to "accounts.one.chains.one" chain}}{{chain.name}}{{/link-to}}</td>
              <td>{{chain.type}}</td>
              <td>{{chain.state}}</td>

              <td>
                {{chain-state-change chain}}
              </td>

              <td>{{chain.startAt}}</td>
              <td>{{chain.stopAt}}</td>
              <td>
                {{#link-to 'accounts.one.chains.one.links' chain.account chain}}Links{{/link-to}}<span>&nbsp;</span>
                {{#link-to 'accounts.one.chains.one.configs' chain.account chain}}Configs{{/link-to}}<span>&nbsp;</span>
                {{#link-to 'accounts.one.chains.one.libraries' chain.account chain}}Libraries{{/link-to}}<span>&nbsp;</span>
                {{#link-to 'accounts.one.chains.one.instruments' chain.account chain}}Instruments{{/link-to}}<span>&nbsp;</span>
                {{#link-to 'accounts.one.chains.one.patterns' chain.account chain}}Patterns{{/link-to}}<span>&nbsp;</span>
                {{entity-actions "accounts.one.chains.one" "edit|destroy" chain.account chain}}
              </td>
              <td>{{#if (or (eq chain.state "Fabricate") (eq chain.state "Complete"))}}
                <button type="button" aria-label="play chain {{chain.id}}"
                        class="btn link-play" {{action 'play' chain}}>&#9658;
                </button>
              {{/if}}</td>
            </tr>
          {{/each}}
          </tbody>
        </table>
      </div>
    </div>
  {{/if}}

</div>
