<!-- Copyright (c) 2020, XJ Music Inc. (https://xj.io) All Rights Reserved. -->

<!-- Inner Content -->
{{outlet}}

<!-- Lower Section -->
{{#modal-dialog onClickOverlay='goBack'}}
  <div class="form-horizontal container-fluid">

    <!-- Type -->
    <div class="form-group row">
      <label class="col-sm-2 control-label">Type</label>
      <div class="col-sm-10">
        {{model.chain.type}}
<!--
        <select readonly="true" class="form-control" onchange={{action "selectChainType" value="target.value"}} title="Type">
          {{#if config.chainTypes}}
            {{#each config.chainTypes as |type|}}
              <option value={{type}} selected={{eq model.chain.type type}}>{{type}}</option>
            {{/each}}
          {{else}}
            <option value={{model.chain.type}} selected>{{model.chain.type}}</option>
          {{/if}}
        </select>
-->
        <!--input type="text" value=model.chain.type class="form-control" autofocus="autofocus"
                placeholder="The type of the Chain"}} -->
      </div>
    </div>

    {{partial "accounts/one/chains/one/form"}}

    <div class="form-group row">
      <div class="offset-sm-2 col-sm-10">
        <button type="submit" class="btn btn-primary" {{action 'createChain' model.chain}}>Create</button>
        <button type="cancel" class="btn btn-default" {{action 'cancelCreateChain' model.chain}}>Cancel</button>
      </div>
    </div>

  </div>
{{/modal-dialog}}
