<!-- Name -->
<div class="form-group">
  <label class="col-sm-2 control-label">Name</label>
  <div class="col-sm-10">
    {{input type="text" value=model.name class="form-control" autofocus="autofocus"
            placeholder="The name of the Chain"}}
  </div>
</div>

<!-- State -->
<div class="form-group">
  <label class="col-sm-2 control-label">State</label>
  <div class="col-sm-10">
    <select class="form-control" onchange={{action "selectChainState" value="target.value"}} title="State">
      {{#each constants.chainStates as |state|}}
        <option value={{state}} selected={{eq model.state state}}>{{state}}</option>
      {{/each}}
    </select>
    <!--input type="text" value=model.state class="form-control" autofocus="autofocus"
            placeholder="The state of the Chain"}} -->
  </div>
</div>

<!-- StartAt -->
<div class="form-group">
  <label class="col-sm-2 control-label">Start At</label>
  <div class="col-sm-10">
    {{input type="text" value=model.startAt class="form-control" autofocus="autofocus"
            placeholder="The start-at time of the Chain"}}
  </div>
</div>

<!-- StopAt -->
<div class="form-group">
  <label class="col-sm-2 control-label">Stop At <em>(optional)</em></label>
  <div class="col-sm-10">
    {{input type="text" value=model.stopAt class="form-control" autofocus="autofocus"
            placeholder="The stop-at time of the Chain"}}
  </div>
</div>

