<!-- Copyright (c) 2018, XJ Music Inc. (https://xj.io) All Rights Reserved. -->

<!-- Inner Content -->
{{outlet}}

<!-- Upper Container -->
{{#modal-dialog onClickOverlay='goBack'}}
  <div class="form-horizontal container-fluid">

    <!-- Owner (User) -->
    <div class="form-group row">
      <h3>Clone</h3>
    </div>

    <!-- Library (Parent) -->
    <div class="form-group row">
      <label class="col-sm-2 control-label">Library</label>
      <div class="col-sm-10">
        {{#power-select
          placeholder="Select Library"
          options=model.libraries
          selected=model.instrument.library
          searchField='name'
          onchange=(action "setInstrumentLibrary")
        as |library| }}
          {{library.name}} (#{{library.id}})
        {{/power-select}}
      </div>
    </div>

    <!-- Description -->
    <div class="form-group row">
      <label class="col-sm-2 control-label">Description</label>
      <div class="col-sm-10">
        {{input type="text" value=model.instrument.description class="form-control" autofocus="autofocus"
                placeholder="The description of the Instrument"}}
      </div>
    </div>

    <div class="form-group row">
      <div class="offset-sm-2 col-sm-10">
        <button type="submit" class="btn btn-default" {{action 'cloneInstrument' model.instrument}}>Clone</button>
      </div>
    </div>
  </div>

{{/modal-dialog}}
