<!-- Copyright (c) 2017, Outright Mental Inc. (https://w.outright.io) All Rights Reserved. -->

<!-- Inner Content -->
{{outlet}}

<!-- Copyright (c) 2017, Outright Mental Inc. (https://w.outright.io) All Rights Reserved. -->

<!-- Upper Container -->
<div class="form-horizontal container-fluid">

  <!-- List of Phases -->
  <div class="sm-col-12">
    <div class="table-list">
      <table class="table">
        <thead>
        <tr>
          <th width="1%">Offset</th>
          <th width="1%">Total</th>
          <th>Name</th>
          <th width="1%">Key</th>
          <th width="1%">Density</th>
          <th width="1%">Tempo</th>
          <th><!-- Actions --></th>
          <th width="1%">#</th>
        </tr>
        </thead>
        <tbody>
        {{#each model.phases as |phase|}}
          <tr class="item">
            <td>{{phase.offset}}</td>
            <td>{{phase.total}}</td>
            <td>{{phase.name}}</td>
            <td>{{phase.key}}</td>
            <td>{{phase.density}}</td>
            <td>{{phase.tempo}}</td>
            <td>
              {{#link-to 'accounts.one.libraries.one.ideas.one.phases.one.edit' phase}}Edit{{/link-to}}
              |&nbsp;{{#link-to 'accounts.one.libraries.one.ideas.one.phases.one.memes' phase}}Memes{{/link-to}}
              {{#if (not-eq model.idea.type "macro")}}
                |&nbsp;{{#link-to 'accounts.one.libraries.one.ideas.one.phases.one.chords' phase}}Chords{{/link-to}}
                |&nbsp;{{#link-to 'accounts.one.libraries.one.ideas.one.phases.one.voices' phase}}Voices{{/link-to}}
              {{/if}}
            </td>
            <th scope="row">{{#link-to "accounts.one.libraries.one.ideas.one.phases.one"
                                       phase}}{{phase.id}}{{/link-to}}</th>
          </tr>
        {{/each}}
        </tbody>
      </table>
    </div>
  </div>

  {{#if (or auth.isArtist auth.isAdmin)}}
    <div class="sm-col-12">
      Or: {{#link-to 'accounts.one.libraries.one.ideas.one.phases.new'}}Create New Phase{{/link-to}}
    </div>
  {{/if}}
</div>
