<!-- Copyright (c) 2017, Outright Mental Inc. (http://outright.io) All Rights Reserved. -->

<!-- Inner Content -->
{{outlet}}

<!-- Lower Section -->
<div class="form-horizontal">

  <!-- Header -->
  <div class="form-group">
    <div class="col-sm-12">
      <h5>{{#link-to "accounts.one.libraries.one.ideas.one.phases" model.idea}}{{model.idea.name}}{{/link-to}}</h5>
      <h1>New Phase</h1>
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-2 control-label">Idea</label>
    <div class="col-sm-10">
      <div class="readonly-field">{{model.idea.name}}</div>
    </div>
  </div>

  <!-- Name -->
  <div class="form-group">
    <label class="col-sm-2 control-label">Name</label>
    <div class="col-sm-10">
      {{input type="text" value=model.name class="form-control" autofocus="autofocus"
              placeholder="The name of the Phase"}}
    </div>
  </div>

  <!-- Key -->
  <div class="form-group">
    <label class="col-sm-2 control-label">Key</label>
    <div class="col-sm-10">
      {{input type="text" value=model.key class="form-control" autofocus="autofocus"
              placeholder="The key of the Phase"}}
    </div>
  </div>

  <!-- Density -->
  <div class="form-group">
    <label class="col-sm-2 control-label">Density</label>
    <div class="col-sm-10">
      {{input type="number" step="any" value=model.density class="form-control"
              placeholder="The density of the Phase"}}
    </div>
  </div>

  <!-- Tempo -->
  <div class="form-group">
    <label class="col-sm-2 control-label">Tempo</label>
    <div class="col-sm-10">
      {{input type="number" step="any" value=model.tempo class="form-control"
              placeholder="The tempo of the Phase"}}
    </div>
  </div>

  <!-- Offset -->
  <div class="form-group">
    <label class="col-sm-2 control-label">Offset</label>
    <div class="col-sm-10">
      {{input type="number" value=model.offset class="form-control"
              placeholder="The offset of the Phase"}}
    </div>
  </div>

  <!-- Total -->
  <div class="form-group">
    <label class="col-sm-2 control-label">Total</label>
    <div class="col-sm-10">
      {{input type="number" value=model.total class="form-control"
              placeholder="The total beats in the Phase"}}
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default" {{action 'createPhase' model}}>Create</button>
    </div>
  </div>

</div>
