<!-- Copyright (c) 2017, Outright Mental Inc. (http://outright.io) All Rights Reserved. -->

<!-- Inner Content -->
{{outlet}}

<!-- Copyright (c) 2017, Outright Mental Inc. (http://outright.io) All Rights Reserved. -->

<!-- Upper Container -->
<div class="form-horizontal">

  <!-- List of Links -->
  <div class="sm-col-12">
    <div class="table-list">
      <table class="table">
        <thead>
        <tr>
          <th width="1%">Offset</th>
          <th width="1%">State</th>
          <th>Begin At</th>
          <th>End At</th>
          <th width="1%">Total</th>
          <th width="1%">Density</th>
          <th width="1%">Key</th>
          <th width="1%">Tempo</th>
          <th width="1%">#</th>
        </tr>
        </thead>
        <tbody>
        {{#each model.links as |link|}}
          <tr class="item">
            <td>{{link.offset}}</td>
            <td>{{link.state}}</td>
            <td>{{link.beginAt}}</td>
            <td>{{link.endAt}}</td>
            <td>{{link.total}}</td>
            <td>{{link.density}}</td>
            <td>{{link.key}}</td>
            <td>{{link.tempo}}</td>
            <th scope="row">{{#link-to "accounts.one.chains.one.links.one" link}}{{link.id}}{{/link-to}}</th>
          </tr>
        {{/each}}
        </tbody>
      </table>
    </div>
  </div>

</div>
