<!-- Copyright (c) 2018, XJ Music Inc. (https://xj.io) All Rights Reserved. -->

<!-- Inner Content -->
{{outlet}}

<!-- Upper Container -->
<div class="form-horizontal container-fluid">

  <!-- List of Links -->
  <div class="col-sm-12">
    <div class="table-list">
      <table class="table">
        <thead>
        <tr>
          <th width="1%">Offset</th>
          <th width="1%">State</th>
          <th>End At</th>
          <th>Total</th>
          <th>Density</th>
          <th>Key</th>
          <th>Tempo</th>
          <th>Memes</th>
          <th>Choices</th>
          <th>Chords</th>
          <th>Messages</th>
          <th width="1%">Play</th>
        </tr>
        </thead>
        <tbody>
        {{#each model.links as |link|}}
          <tr id="link-{{link.id}}" class="item {{lowercase link.state}}-state {{if (eq player.currentLink.id link.id) 'now-playing'}}">
            <th>{{#link-to "accounts.one.chains.one.links.one" link}}{{link.offset}}{{/link-to}}</th>
            <td>{{link.state}}</td>
            <td>{{link.endAt}}</td>
            <td>{{link.total}}</td>
            <td>{{link.density}}</td>
            <td>{{link.key}}</td>
            <td>{{link.tempo}}</td>
            <td>{{link-memes link}}</td>
            <td>{{link-choices link}}</td>
            <td>{{link-chords link}}</td>
            <td>{{message-badges link}}</td>
            <td>{{#if (eq link.state "Dubbed")}}
              <button type="button" aria-label="play link offset {{link.offset}}"
                      class="btn link-play" {{action 'play' model.chain link}}>&#9658;
              </button>
            {{/if}}</td>
          </tr>
        {{/each}}
        </tbody>
      </table>
    </div>
  </div>

</div>
