<!-- Copyright (c) 2017, Outright Mental Inc. (http://outright.io) All Rights Reserved. -->

<!-- Inner Content -->
{{outlet}}

<!-- Upper Container -->
<div class="form-horizontal">

  <!-- Header -->
  <div class="form-group">
    <div class="col-sm-12">
      <h5>{{#link-to "accounts.one.libraries.one.ideas.one.phases.one.chords.one" model}}{{model.name}}{{/link-to}}</h5>
      <h1>Edit</h1>
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-2 control-label">Chord ID</label>
    <div class="col-sm-10">
      <div class="readonly-field">{{model.id}}</div>
    </div>
  </div>

  <!-- Name -->
  <div class="form-group">
    <label class="col-sm-2 control-label">Name</label>
    <div class="col-sm-10">
      {{input type="text" value=model.name class="form-control" autofocus="autofocus"
              placeholder="The name of the Chord"}}
    </div>
  </div>

  <!-- Position -->
  <div class="form-group">
    <label class="col-sm-2 control-label">Position</label>
    <div class="col-sm-10">
      {{input type="number" step="any" value=model.position class="form-control"
              placeholder="The position of the Chord"}}
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default" {{action 'saveChord' model}}>Save changes</button>
    </div>
  </div>
</div>

<!-- Lower Container -->
<div class="form-horizontal">

  <!-- Header -->
  <div class="form-group">
    <div class="col-sm-12">
      <hr/>
      <h4>Danger Zone</h4>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button class="btn btn-danger btn-xs" {{action 'destroyChord' model}}>Delete Chord</button>
    </div>
  </div>

</div>
