<!-- Copyright (c) 2017, Outright Mental Inc. (http://outright.io) All Rights Reserved. -->

<!-- Inner Content -->
{{outlet}}

<!-- Copyright (c) 2017, Outright Mental Inc. (http://outright.io) All Rights Reserved. -->

<!-- Upper Container -->
<div class="form-horizontal">

  <!-- List of Instruments -->
  <div class="sm-col-12">
    <div class="table-list">
      <table class="table">
        <thead>
        <tr>
          <th>#</th>
          <th>Owner</th>
          <th>Type</th>
          <th>Description</th>
          <th>Density</th>
        </tr>
        </thead>
        <tbody>
        {{#each model.instruments as |instrument|}}
          <tr class="item">
            <th scope="row">{{#link-to "accounts.one.libraries.one.instruments.one" instrument}}{{instrument.id}}{{/link-to}}</th>
            <td>{{#link-to "users.one" instrument.user}}<img src="{{instrument.user.avatarUrl}}" class="avatar" />&nbsp;{{instrument.user.name}}{{/link-to}}</td>
            <td>{{instrument.type}}</td>
            <td>{{instrument.description}}</td>
            <td>{{instrument.density}}</td>
            <td>
              {{#link-to 'accounts.one.libraries.one.instruments.one.edit' instrument}}Edit{{/link-to}}
              |&nbsp;{{#link-to 'accounts.one.libraries.one.instruments.one.memes' instrument}}Memes{{/link-to}}
            </td>
          </tr>
        {{/each}}
        </tbody>
      </table>
    </div>
  </div>

  {{#if (or auth.isArtist auth.isAdmin)}}
    <div class="sm-col-12">
      Or: {{#link-to 'accounts.one.libraries.one.instruments.new'}}Create New Instrument{{/link-to}}
    </div>
  {{/if}}
</div>
