<!-- Copyright (c) 2020, XJ Music Inc. (https://xj.io) All Rights Reserved. -->

<!-- Inner Content -->
{{outlet}}

<!-- Upper Container -->
{{#if (or auth.isArtist auth.isAdmin)}}
  <div class="form-horizontal container-fluid">
    <div class="col-sm-12 text-right">
      {{#edit-program-attributes model.newProgram}}{{fa-icon "plus"}} New Program{{/edit-program-attributes}}
    </div>
  </div>
{{/if}}

<div class="table-list">
  <table class="table">
    <thead>
    <tr>
      <!--
      [#175544878] Programs and Instruments can be filtered by Type, State, or Name in XJ Mk1 UI
      -->
      <th width="1%">
        <select class="form-control" onchange={{action "selectFilterProgramType" value="target.value"}} title="Type">
          {{#if config.programTypes}}
            <option value="" selected={{eq null type}}>{{type}}</option>
            {{#each config.programTypes as |type|}}
              <option value={{type}} selected={{eq filterProgramType type}}>{{type}}</option>
            {{/each}}
          {{else}}
            <option value={{filterProgramType}} selected>{{filterProgramType}}</option>
          {{/if}}
        </select>
      </th>
      <th width="1%">
        <select class="form-control" onchange={{action "selectFilterProgramState" value="target.value"}} title="State">
          {{#if config.programStates}}
            <option value="" selected={{eq null state}}>{{state}}</option>
            {{#each config.programStates as |state|}}
              <option value={{state}} selected={{eq filterProgramState state}}>{{state}}</option>
            {{/each}}
          {{else}}
            <option value={{filterProgramState}} selected>{{filterProgramState}}</option>
          {{/if}}
        </select>
      </th>
      <th>
        {{input type="text" value=filterProgramName class="form-control"
                placeholder="The name of the Program"}}
      </th>
      <th width="4%"><!--Key--></th>
      <th width="4%"><!--Density--></th>
      <th width="4%"><!--Tempo--></th>
      <th><!--Memes--></th>
      <th width="6%"><!-- Actions --></th>
    </tr>
    <tr>
      <th>Type</th>
      <th>State</th>
      <th>Name</th>
      <th>Key</th>
      <th>Density</th>
      <th>Tempo</th>
      <th>Memes</th>
      <th><!-- Actions --></th>
    </tr>
    </thead>
    <tbody>
    {{#each filteredPrograms as |program|}}
      <tr class="item">
        <td>{{program.type}}</td>
        <td>{{program.state}}</td>
        <td>{{#link-to "accounts.one.libraries.one.programs.one" program.library.account.id program.library.id
                       program.id}}{{program.name}}{{/link-to}}</td>
        <td>{{program.key}}</td>
        <td style="white-space: nowrap">{{program.density}}</td>
        <td>{{program.tempo}}</td>
        <td>
          {{#if program.programMemes.length}}
            <p>{{#each program.programMemes as |programMeme|}}
              <span>{{programMeme.name}}</span>
            {{/each}}</p>
          {{else}}
            <p>(no program memes)</p>
          {{/if}}
          {{#if program.programSequenceBindingMemes.length}}
            <p>{{#each program.programSequenceBindingMemes as |programSequenceBindingMeme|}}
              <span>{{programSequenceBindingMeme.name}}</span>
            {{/each}}</p>
          {{else}}
            <p>(no sequence-binding memes)</p>
          {{/if}}
        </td>
        <td>{{entity-actions "accounts.one.libraries.one.programs.one" "edit|clone|destroy" program.library.account
                             program.library program}}</td>
      </tr>
    {{/each}}
    </tbody>
  </table>
</div>
