<!-- Copyright (c) 2018, XJ Music Inc. (https://xj.io) All Rights Reserved. -->

<!-- Inner Content -->
{{outlet}}

<!-- Container -->
<div class="form-horizontal container-fluid">

  <!-- Only show list of records if non-empty -->
  {{#if model.patternMemes.length}}

    <!-- List of Records -->
    <div class="col-sm-12">
      <div class="table-list">
        <table class="table">
          <thead>
          <tr>
            <th>Name</th>
            <th>Action</th>
          </tr>
          </thead>
          <tbody>
          {{#each model.patternMemes as |patternMeme|}}
            <tr>
              <td>{{patternMeme.name}}</td>
              <td>
                <button {{action "destroyPatternMeme" patternMeme}}>Remove</button>
              </td>
            </tr>
          {{/each}}
          </tbody>
        </table>
      </div>
    </div>
  {{else}}
    <div class="col-sm-12">
      <p>No Memes are bound to this Pattern.</p>
    </div>
  {{/if}}

  <!-- Add a Meme to this Section -->

  <div class="form-group row">
    <label class="col-sm-2 control-label">Meme to add</label>
    <div class="col-sm-10">
      <!--input type="text" value=model.newSectionMeme.memeId class="form-control" autofocus="autofocus"-->
      <!--placeholder="Meme ID to grant access"}}-->
      {{input type="text" value=model.memeToAdd class="form-control" autofocus="autofocus"
              placeholder="The name of the Meme"}}
    </div>
  </div>
  <div class="form-group row">
    <div class="offset-sm-2 col-sm-10">
      <button type="submit" class="btn btn-default" {{action 'addMemeToPattern' model}}>Add Meme to
        Pattern
      </button>
    </div>
  </div>

</div>
