<!-- Copyright (c) 2018, XJ Music Inc. (https://xj.io) All Rights Reserved. -->

<!-- Inner Content -->
{{outlet}}

<!-- Upper Container -->
{{#if (or auth.isArtist auth.isAdmin)}}
  <div class="form-horizontal container-fluid">
    <div class="col-sm-12 text-right">
      {{#link-to 'accounts.one.libraries.one.instruments.one.audios.new' model.instrument.library.account
                 model.instrument.library model.instrument}}{{fa-icon "plus"}} Create New Audio{{/link-to}}
    </div>
  </div>
{{/if}}

<!-- List of Audios -->
<div class="table-list">
  <table class="table">
    <thead>
    <tr>
      <th>Name</th>
      <th>Waveform</th>
      <th width="1%">tempo</th>
      <th width="1%">start</th>
      <th width="1%">length</th>
      <th width="1%"><!-- Events --></th>
      <th width="1%"><!-- Chords --></th>
      <th><!-- Actions --></th>
      <th width="1%">#</th>
    </tr>
    </thead>
    <tbody>
    {{#each model.audios as |audioModel|}}
      <tr class="item">
        <td>{{#link-to "accounts.one.libraries.one.instruments.one.audios.one" audioModel.instrument.library.account
                       audioModel.instrument.library audioModel.instrument
                       audioModel}}{{audioModel.name}}{{/link-to}}</td>
        <td>
          <audio controls>
            <source src="{{model.audioBaseUrl}}{{audioModel.waveformKey}}" type="audio/wav">
            Your browser does not support the audio element.
          </audio>
        </td>
        <td>{{audioModel.tempo}}</td>
        <td>{{audioModel.start}}</td>
        <td>{{audioModel.length}}</td>
        <td>
          {{#link-to 'accounts.one.libraries.one.instruments.one.audios.one.events'
                     audioModel.instrument.library.account audioModel.instrument.library audioModel.instrument
                     audioModel}}Events{{/link-to}}
          {{#each audioModel.instrumentAudioEvents as |audioEvent|}}
            <p>{{audioEvent.title}}</p>
          {{/each}}
        </td>
        <td>
          {{#link-to 'accounts.one.libraries.one.instruments.one.audios.one.chords'
                     audioModel.instrument.library.account audioModel.instrument.library audioModel.instrument
                     audioModel}}Chords{{/link-to}}
          {{#each audioModel.instrumentAudioChords as |audioChord|}}
            <p>{{audioChord.title}}</p>
          {{/each}}
        </td>
        <td>
          {{entity-actions "accounts.one.libraries.one.instruments.one.audios.one" "move|edit|clone|destroy"
                           audioModel.instrument.library.account audioModel.instrument.library audioModel.instrument
                           audioModel}}
        </td>
        <th scope="row">{{audioModel.id}}</th>
      </tr>
    {{/each}}
    </tbody>
  </table>
</div>
