<!-- Copyright (c) 2017, Outright Mental Inc. (http://outright.io) All Rights Reserved. -->

<!-- List of Accounts -->
<div class="form-horizontal">
  <div class="sm-col-12">
    <div class="table-list">
      <table class="table">
        <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Action</th>
        </tr>
        </thead>
        <tbody>
        {{#each model as |A|}}
          <tr class="item" {{action "editAccount" A}}>
            <th scope="row">{{A.id}}</th>
            <td>{{A.name}}</td>
            <td>
              {{#if (eq A.id account.current.id) }}
                (Active)
              {{else}}
                <button {{action "selectAccount" A}}>Switch to</button>
              {{/if}}
            </td>

          </tr>
        {{/each}}
        </tbody>
      </table>
    </div>
  </div>

  {{#if auth.isAdmin}}
    <div class="sm-col-12">
      Or: {{#link-to 'access.accounts.new'}}Create New Account{{/link-to}}
    </div>
  {{/if}}
</div>

{{outlet}}