<!-- Copyright (c) 2018, XJ Music Inc. (https://xj.io) All Rights Reserved. -->

<div class="chord-markov-observations">

  {{#each observations as |observation|}}
    <div class="observation {{node-weight-font-scale
      observation.weight}}">

      {{#if observation.form}}
        <div class="form">{{observation.form}}</div>
        <div class="delta">
          <small>&Delta;</small>{{observation.delta}}
        </div>

      {{else}}
        <div class="marker">---</div>
      {{/if}}

    </div>
  {{/each}}

  {{yield}}

</div>