<!-- Copyright (c) 2018, XJ Music Inc. (https://xj.io) All Rights Reserved. -->

<div class="chord-progression-usages">

  <!-- Section Chord Progression -->
    <div class="parent">
      {{#link-to "go.sequence" model.sequenceId}}
        <small>{{model.sequenceType}}-Sequence #{{model.sequenceId}}</small>
        {{#if model.sequenceName}}
          &quot;{{model.sequenceName}}&quot;{{/if}}
      {{/link-to}}
      {{#link-to "go.pattern" model.patternId}}
        <small>{{model.patternType}}-Pattern #{{model.patternId}}</small>
        {{#if model.patternName}}
          &quot;{{model.patternName}}&quot;{{/if}}
      {{/link-to}}
    </div>

  <!-- Chords -->
  <div class="chords">
    {{#each model.chords as |chord|}}
      <div class="chord">
        ({{chord.chordPosition}})
        {{chord.chordName}}
      </div>
    {{/each}}
  </div>

  {{yield}}

</div>