<!-- Copyright (c) 2020, XJ Music Inc. (https://xj.io) All Rights Reserved. -->

<div class="chord-progression-usages">

  <!-- Section Chord Progression -->
  <div class="parent">
    {{#link-to "go.program" model.programId}}
      <small>{{model.programType}}-Program #{{model.programId}}</small>
      {{#if model.programName}}&quot;{{model.programName}}&quot;{{/if}}
    {{/link-to}}
    <small>{{model.sequenceType}}-Sequence #{{model.programSequenceId}}</small>
    {{#if model.sequenceName}}&quot;{{model.sequenceName}}&quot;{{/if}}
  </div>

  <!-- Chords -->
  <div class="chords">
    {{#each model.chords as |chord|}}
      <div class="chord">
        ({{chord.chordPosition}})
        {{chord.chordName}}
      </div>
    {{/each}}
  </div>

  {{yield}}

</div>