<!-- Copyright (c) 2018, XJ Music Inc. (https://xj.io) All Rights Reserved. -->

<div class="chord-sequence">

  <!-- Phase Chord Sequence -->
  {{#if (eq "PhaseChordSequence" model.chordSequenceType)}}
    <div class="parent">
      {{#link-to "go.pattern" model.patternId}}
        <small>{{model.patternType}}-Pattern #{{model.patternId}}</small>
        {{#if model.patternName}}
          &quot;{{model.patternName}}&quot;{{/if}}
      {{/link-to}}
      {{#link-to "go.phase" model.phaseId}}
        <small>{{model.phaseType}}-Phase #{{model.phaseId}}</small>
        {{#if model.phaseName}}
          &quot;{{model.phaseName}}&quot;{{/if}}
      {{/link-to}}
    </div>
  {{/if}}

  <!-- Audio Chord Sequence -->
  {{#if (eq "AudioChordSequence" model.chordSequenceType)}}
    <div class="parent">
      {{#link-to "go.instrument" model.instrumentId}}
        <small>{{model.instrumentType}}-Instrument #{{model.instrumentId}}</small>
        {{#if model.instrumentName}}
          &quot;{{model.instrumentName}}&quot;{{/if}}
      {{/link-to}}
      {{#link-to "go.audio" model.audioId}}
        <small>Audio #{{model.audioId}}</small>
        {{#if model.audioName}}
          &quot;{{model.audioName}}&quot;{{/if}}
      {{/link-to}}
    </div>
  {{/if}}

  <!-- Chords for any type of sequence -->
  <div class="chords">
    {{#each model.chords as |chord|}}
      <div class="chord">
        ({{chord.chordPosition}})
        {{chord.chordName}}
      </div>
    {{/each}}
  </div>

  {{yield}}

</div>