<!-- Copyright (c) 2018, XJ Music Inc. (https://xj.io) All Rights Reserved. -->

<div class="container-fluid">
  <div class="row">
    <div class="digest col-12">

      <div class="do-digest">
        {{#each types as |type|}}
          <button type="button"
                  class="btn btn-default align-middle {{digest-type
                    type}}" {{action
            'doDigest' (digest-type type) type}}>
            {{type}}
          </button>
        {{/each}}
      </div>

      <div class="loader">&nbsp;</div>

      <div class="result container-fluid">
        {{yield}}

        <!-- meme usage-->
        {{#each-in result.memeUsage as |name usage|}}
          <div class="row">
            <div class="col-12 digest-meme-usage">
              {{meme-usage name usage}}
            </div>
          </div>
        {{/each-in}}

        <!-- digested chord sequences -->
        {{#each result.chordProgressions as |chordProgressionGroup|}}
          <div class="row">
            <div class="col-12 digest-chord-progression-usages">
              {{chord-progression chordProgressionGroup.descriptor}}
              {{#each
                chordProgressionGroup.chordProgressions as |chordProgression|}}
                {{chord-progression-usages chordProgression}}
              {{/each}}
            </div>
          </div>
        {{/each}}

        <!-- digested chord markov observations - forward + reverse-->
        {{#if (or result.observationsForward result.observationsReverse)}}
          <div class="row digest-chord-markov">
            <div class="col-12">

              <ul class="nav nav-pills" id="markovObservations" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active" id="forward-tab" data-toggle="tab"
                     href="#forward" role="tab" aria-controls="forward"
                     aria-selected="true">Forward</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="reverse-tab" data-toggle="tab"
                     href="#reverse" role="tab" aria-controls="reverse"
                     aria-selected="false">Reverse</a>
                </li>
              </ul>
              <div class="tab-content" id="markovObservationsContent">
                <div class="tab-pane fade show active" id="forward"
                     role="tabpanel" aria-labelledby="forward-tab">
                  {{#each result.observationsForward as |node|}}
                    {{chord-progression node.state}}
                    {{chord-markov-observations node.observations}}
                  {{/each}}
                </div>
                <div class="tab-pane fade" id="reverse" role="tabpanel"
                     aria-labelledby="reverse-tab">
                  {{#each result.observationsReverse as |node|}}
                    {{chord-progression node.state}}
                    {{chord-markov-observations node.observations}}
                  {{/each}}
                </div>
              </div>
            </div>
          </div>
        {{/if}}

        <!-- digested sequence style-->
        {{#if result.sequenceStyle}}
          {{object-tree result.sequenceStyle}}
        {{/if}}

      </div>

    </div>
  </div>
</div>