<!-- Copyright (c) 2018, XJ Music Inc. (https://xj.io) All Rights Reserved. -->

<nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-inverse" id="navigation">

  {{#link-to 'index' class="navbar-brand logo"}}<img src="/assets/images/brand/xj-logo.png"/>{{/link-to}}

  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse"
          aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarCollapse">

    <ul class="nav navbar-nav navbar-left mr-auto">
      {{#if auth.isUser}}
        {{#link-to 'users' tagName="li" class="nav-item"}}<a class="nav-link" href="">People</a>{{/link-to}}
        {{#link-to 'accounts' tagName="li" class="nav-item"}}<a class="nav-link" href="">Music</a>{{/link-to}}
        {{#if (or auth.isAdmin auth.isEngineer)}}{{#link-to 'platform' tagName="li" class="nav-item"}}<a class="nav-link" href="">Platform</a>{{/link-to}}{{/if}}
        <li id="refresh-button" class="nav-item"><a title="Refresh Data" aria-label="Refresh Data"
                                                    class="nav-link" {{action
            "sessionChanged"}} href="">&#8635;</a></li>
      {{/if}}
    </ul>
    <ul class="nav navbar-nav navbar-right">

      {{#if auth.isUser}}<li class="nav-item">{{player-embed target=this}}</li>{{/if}}

      <li class="nav-item"><a id="clock" class="nav-link" title="Copy time UTC to clipboard"
                              aria-label="Copy time UTC to clipboard">&nbsp;</a></li>

      {{#if auth.isUser}}
        <li class="nav-item dropdown">
          <a href="#" data-toggle="dropdown" class="nav-link dropdown-toggle">
            {{#if auth.isUser}}User <sup>#</sup>{{auth.userId}}{{/if}}
            {{#if auth.isAdmin}}<badge>{{fa-icon 'shield'}}</badge>{{/if}}
            {{#if auth.isArtist}}<badge>{{fa-icon 'music'}}</badge>{{/if}}
            {{#if auth.isEngineer}}<badge>{{fa-icon 'wrench'}}</badge>{{/if}}
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu inverse-dropdown">
            {{#link-to 'users.one' auth.userId tagName="li" class="nav-item"}}
              <a class="nav-link" href="">My Account</a>{{/link-to}}
            {{#link-to 'logout' tagName="li" class="nav-item"}}<a class="nav-link" href="">Sign Out</a>{{/link-to}}
          </ul>
        </li>
      {{else}}
        {{#link-to 'login' tagName="li" class="nav-item"}}<a class="nav-link" href="">Sign In</a>{{/link-to}}
      {{/if}}
    </ul>
  </div>
</nav>

{{yield}}
