<!-- Copyright (c) 2017, XJ Music Inc. (https://xj.io) All Rights Reserved. -->

{{yield}}

<div class="link-choices">
  {{#each model.choices as |choice|}}
    <div class="choice">
      ({{choice.type}})
      {{#link-to 'accounts.one.libraries.one.patterns.one'
                 choice.pattern.library
                 choice.pattern}}{{choice.pattern.name}}{{/link-to}}
      @{{choice.phaseOffset}}
      T{{choice.transpose}}
      {{#each choice.arrangements as |arrangement|}}
        <div class="arrangement">
          {{#link-to 'accounts.one.libraries.one.patterns.one.voices.one'
                     arrangement.voice.pattern.library.account
                     arrangement.voice.pattern.library
                     arrangement.voice.pattern
                     arrangement.voice}}{{arrangement.voice.description}}{{/link-to}}
          &rarr;
          {{#link-to 'accounts.one.libraries.one.instruments.one'
                     arrangement.instrument.library.account
                     arrangement.instrument.library
                     arrangement.instrument}}{{arrangement.instrument.description}}{{/link-to}}
        </div>
      {{/each}}
    </div>
  {{/each}}
</div>
