<!-- Copyright (c) 2018, XJ Music Inc. (https://xj.io) All Rights Reserved. -->

<div class="meme-usage">

  <div class="name">{{name}}</div>

  {{#each model.sequencesWithMeme as |sequence|}}
    {{#if sequence.sequenceHasMeme}}
      <div class="sequence">
        {{#link-to "go.sequence" sequence.sequenceId}}
          <small>{{sequence.sequenceType}}-Sequence #{{sequence.sequenceId}}</small>
          {{#if sequence.sequenceName}}
            &quot;{{sequence.sequenceName}}&quot;{{/if}}
        {{/link-to}}
      </div>
    {{/if}}
    {{#each sequence.patternsWithMeme as |pattern|}}
      <div class="sequence-pattern">
        {{#link-to "go.sequence" sequence.sequenceId}}
          <small>{{sequence.sequenceType}}-Sequence #{{sequence.sequenceId}}</small>
          {{#if sequence.sequenceName}}
            &quot;{{sequence.sequenceName}}&quot;{{/if}}
        {{/link-to}}
        {{#link-to "go.pattern" pattern.patternId}}
          <small>{{pattern.patternType}}-Pattern #{{pattern.patternId}}</small>
          {{#if pattern.patternName}}
            &quot;{{pattern.patternName}}&quot;{{/if}}
          {{#if pattern.patternOffset}}
            @{{pattern.patternOffset}}{{/if}}
        {{/link-to}}
      </div>
    {{/each}}
  {{/each}}

  {{#each model.instrumentsWithMeme as |instrument|}}
    <div class="instrument">
      {{#link-to "go.instrument" instrument.instrumentId}}
        <small>{{instrument.instrumentType}}-Instrument #{{instrument.instrumentId}}</small>
        {{#if instrument.instrumentDescription}}
          &quot;{{instrument.instrumentDescription}}&quot;{{/if}}
      {{/link-to}}
    </div>
  {{/each}}

  {{yield}}
</div>