<!-- Copyright (c) 2020, XJ Music Inc. (https://xj.io) All Rights Reserved. -->

<div class="pattern-stepmatic {{only-if isDirty 'dirty'}}">

  <!--
  --
  Stepmatic meta-controls (upper)
  --
  -->
  <div class="form-horizontal container-fluid {{if isPlaying 'disabled'}}">
    <div class="form-group row meta">

      <div class="col-xl-1 col-lg-1 col-sm-1 col-xs-2 {{if isWorking 'disabled'}}"><label class="control-label"
                                                                                          data-toggle="tooltip"
                                                                                          title="Modify # of beats in a measure, and re-compute events from original pattern.">Measure</label>
      </div>
      <div class="col-xl-1 col-lg-1 col-sm-3 col-xs-10 {{if isWorking 'disabled'}}">
        {{input type="number" value=pattern.meterSuper class="form-control margin-bottom" autofocus="autofocus"
                placeholder="beats" change=(action "didUpdateSuper")
                data-toggle="tooltip" title="# of beats in a measure"}}
      </div>

      <div class="col-xl-1 col-lg-1 col-sm-1  col-xs-2 {{if isWorking 'disabled'}}"><label class="control-label"
                                                                                           data-toggle="tooltip"
                                                                                           title="Modify # of steps to divide each beat, and re-compute events from original pattern.">Subdiv</label>
      </div>
      <div class="col-xl-1 col-lg-1 col-sm-3 col-xs-10 {{if isWorking 'disabled'}}">
        {{input type="number" value=pattern.meterSub class="form-control margin-bottom" autofocus="autofocus"
                placeholder="divs" change=(action "didUpdateSub")
                data-toggle="tooltip" title="# steps to divide each beat"}}
      </div>

      <div class="col-xl-1 col-lg-1 col-sm-1  col-xs-2 {{if isWorking 'disabled'}}"><label class="control-label"
                                                                                           data-toggle="tooltip"
                                                                                           title="Modify % delay of each odd step.">Swing</label>
      </div>
      <div class="col-xl-1 col-lg-1 col-sm-3 col-xs-10 {{if isWorking 'disabled'}}">
        {{input type="number" value=pattern.meterSwing class="form-control margin-bottom" autofocus="autofocus"
                placeholder="%"  change=(action "didUpdateSwing")
                data-toggle="tooltip" title="% delay of each odd step"}}
      </div>

      {{#if isWorking}}

        <div class="ml-auto col-xl-1 col-lg-1 col-sm-2 col-xs-12">
          <label class="control-label margin-bottom">{{workStatus}}</label>
        </div>
        <div class="col-xl-5 col-lg-5 col-sm-4 col-xs-12">
          <div class="loader form-control margin-bottom">&nbsp;</div>
        </div>

      {{else}}

        <div class="ml-auto col-xl-1 col-lg-2 col-sm-4">
          <button class="btn btn-dark margin-bottom" data-toggle="tooltip"
                  title="Clear all grid events and re-compute events from original pattern." {{action 'clear' pattern}}>
            Clear
          </button>
        </div>
        <div class="col-xl-1 col-lg-2 col-sm-4">
          <button class="btn btn-dark margin-bottom {{if (not isDirty) 'disabled'}}" data-toggle="tooltip"
                  title="Revert all grid events and revert to events from original pattern." {{action 'revert'pattern}}>
            Revert
          </button>
        </div>
        <div class="col-xl-1 col-lg-2 col-sm-4">
          <button class="btn btn-outline-warning margin-bottom {{if (not isDirty) 'disabled'}}" data-toggle="tooltip"
                  title="Apply all grid events to pattern." {{action
            'apply' pattern}}>Apply
          </button>
        </div>

      {{/if}}

    </div>
  </div>

  <!--
  --
  Stepmatic grid
  --
  -->
  <div class="grid-container">
    <div class="grid">

      <!-- play steps light up during preview play -->
      <div class="track-group">
        <div class="track">
          <div class="no-name"></div>
          <div class="no-name"></div>
          {{#each gridMeter as |beat|}}
            <div class="step-container">
              <div class="beat-step beat-{{beat}}"></div>
            </div>
          {{/each}}
        </div>
      </div>

      {{#each-in grid as |groupId groupContainer|}}
        <div class="track-group">

          {{#each-in groupContainer.tracks as |track steps|}}
            <div class="track">
              <div {{action 'addTrack' groupId}} class="group-name"
                                                 data-toggle="tooltip"
                                                 title="create a track in {{groupContainer.group.name}}">
                {{groupContainer.group.name}}
              </div>
              <div class="track-name">
                {{track}}
              </div>
              {{#each-in steps as |step event|}}
                <div class="step-container">
                  <div class="step velocity-{{velocity-decascale event.velocity}} {{grid-step-modulo step meter.super
                                                                                                     meter.sub}}-type"
                       onclick={{action 'onStepTouch' groupId track step}}
                  >&nbsp;
                  </div>
                </div>
              {{/each-in}}
            </div>

          {{else}}
            <div class="track">
              <div {{action 'addTrack' groupId}} class="group-name"
                                                 data-toggle="tooltip"
                                                 title="create a track in {{groupContainer.group.name}}">
                {{groupContainer.group.name}}
              </div>
            </div>
          {{/each-in}}

        </div>
      {{/each-in}}
    </div>
  </div>

  <!--
  --
  Stepmatic meta-controls (lower)
  --
  -->
  <div class="form-horizontal container-fluid">
    <div class="form-group row meta">
      <div class="col-xl-4 col-lg-6 col-sm-8 col-xs-12">
        {{#if isPrepping}}
          <div class="progress bg-dark margin-bottom ">
            <div class="progress-bar progress-bar-striped bg-success" role="progressbar"
                 style={{preparednessStyleWidth}} aria-valuenow="{{preparednessPercentage}}" aria-valuemin="0"
                 aria-valuemax="100"></div>
          </div>
        {{else}}
          <div class="margin-bottom {{if isPlaying 'disabled' }}">
            {{#power-select
              placeholder="(select preview instrument)"
              options=instruments
              selected=instrumentToPlay
              searchField='name'
              onChange=(action "setInstrumentToPlay")
            as |instrument| }}
              {{instrument.name}}
            {{/power-select}}
          </div>
        {{/if}}
      </div>
      <div class="col-xl-2 col-lg-3 col-sm-4 col-xs-12">
        <div class="{{if (eq null instrumentToPlay) 'disabled' }}" data-toggle="tooltip" title="Play grid in a loop.">
          {{#if isPrepping}}
            <button class="btn btn-outline-warning" {{action 'stop' pattern}}>
              <!--Stop-->&#9640;
            </button>
          {{else if isPlaying}}
            <button class="btn btn-success" {{action 'stop' pattern}}>
              <!--Stop-->&#9640;
            </button>
          {{else}}
            <button class="btn btn-outline-success" {{action 'play' pattern}}>
              <!--Play-->&#9658;
            </button>
          {{/if}}
        </div>
      </div>
      <div class="col-12 col-sm-12 col-lg-3 col-xl-6 text-right">
        <!-- [#161141326] Link to stepmatic instructions in docs.xj.io -->
        <a class="help" href="https://docs.xj.io/stepmatic" target="_blank">{{fa-icon "question-circle"}}</a>
      </div>
    </div>
  </div>

</div>

<!-- Inner content -->
{{yield}}