<!-- Copyright (c) 2018, XJ Music Inc. (https://xj.io) All Rights Reserved. -->

{{yield}}

<div class="segment-choices">
  {{#each model.choices as |choice|}}
    <div class="choice">
      ({{choice.type}})
      {{#link-to 'accounts.one.libraries.one.sequences.one'
                 choice.sequence.library
                 choice.sequence}}{{choice.sequence.name}}{{/link-to}}
      @{{choice.sequencePatternOffset}}
      T{{choice.transpose}}
      {{#each choice.arrangements as |arrangement|}}
        <div class="arrangement">
          {{#link-to 'accounts.one.libraries.one.sequences.one.voices.one'
                     arrangement.voice.sequence.library.account
                     arrangement.voice.sequence.library
                     arrangement.voice.sequence
                     arrangement.voice}}{{arrangement.voice.description}}{{/link-to}}
          &rarr;
          {{#link-to 'accounts.one.libraries.one.instruments.one'
                     arrangement.instrument.library.account
                     arrangement.instrument.library
                     arrangement.instrument}}{{arrangement.instrument.description}}{{/link-to}}
        </div>
      {{/each}}
    </div>
  {{/each}}
</div>
