<!-- Copyright (c) 2018, XJ Music Inc. (https://xj.io) All Rights Reserved. -->

{{yield}}

<div class="segment-choices">
  {{#each model.choices as |choice|}}
    {{#if choice.program.type}}
      <div class="choice">
        ({{choice.type}})
        {{#if (or (eq "Macro" choice.type) (eq "Main" choice.type))}}
          {{#link-to 'go.program' choice.program.id }}{{choice.sequenceBinding.sequence.name}}{{/link-to}}
          @{{choice.sequenceBinding.offset}}
        {{else}}
          {{#link-to 'go.program' choice.program.id }}{{choice.sequence.name}}{{/link-to}}
        {{/if}}
        T{{choice.transpose}}
        {{#each choice.arrangements as |arrangement|}}
          <div class="arrangement">
            {{#if arrangement.instrument.type}}
              {{#link-to 'go.program' choice.program.id }}{{arrangement.voice.description}}{{/link-to}}
              &rarr;
              {{#link-to 'go.instrument' arrangement.instrument.id }}{{arrangement.instrument.description}}{{/link-to}}
            {{/if}}
          </div>
        {{/each}}
      </div>
    {{/if}}
  {{/each}}
</div>
