<!-- Copyright (c) 2020, XJ Music Inc. (https://xj.io) All Rights Reserved. -->

{{yield}}

<div id="waveform-header" style="font-size:0.7rem">
</div>

<div id="waveform">
  <!-- Waveform -->
</div>

<!-- zoom slider -->
<div class="row slider">
  <div class="col-xs-1">
    {{fa-icon "search-minus"}}
  </div>

  <div class="col-sm-7">
    <input id="slider" type="range" min="1" max="1000" value="1"/>
  </div>

  <div class="col-xs-1">
    {{fa-icon "search-plus"}}
  </div>
</div>

<!-- follow button -->
<div class="row playback">
  <div class="col-sm-7">
    <button class="btn btn-primary" data-action="follow">
      {{fa-icon "play"}}
      Follow
      /
      {{fa-icon "pause"}}
      Pause
    </button>
  </div>
</div>
