<!-- Owner (User) -->
<div class="form-group">
  <label class="col-sm-2 control-label">User</label>
  <div class="col-sm-10">
    <div class="readonly-field">{{model.user.name}}</div>
  </div>
</div>

<!-- Parent (Library) -->
<div class="form-group">
  <label class="col-sm-2 control-label">Library</label>
  <div class="col-sm-10">
    <div class="readonly-field">{{model.library.name}}</div>
  </div>
</div>

<!-- Type -->
<div class="form-group">
  <label class="col-sm-2 control-label">Type</label>
  <div class="col-sm-10">
    <select class="form-control" onchange={{action "selectInstrumentType" value="target.value"}} title="Type">
      {{#if config.instrumentTypes}}
        {{#each config.instrumentTypes as |type|}}
          <option value={{type}} selected={{eq model.type type}}>{{type}}</option>
        {{/each}}
      {{else}}
        <option value={{model.type}} selected>{{model.type}}</option>
      {{/if}}
    </select>
    <!--input type="text" value=model.type class="form-control" autofocus="autofocus"
            placeholder="The type of the Chain"}} -->
  </div>
</div>

<!-- Description -->
<div class="form-group">
  <label class="col-sm-2 control-label">Description</label>
  <div class="col-sm-10">
    {{input type="text" value=model.description class="form-control" autofocus="autofocus"
            placeholder="The description of the Instrument"}}
  </div>
</div>

<!-- Density -->
<div class="form-group">
  <label class="col-sm-2 control-label">Density</label>
  <div class="col-sm-10">
    {{input type="number" step="any" value=model.density class="form-control"
            placeholder="The density of the Instrument"}}
  </div>
</div>
