<!-- Copyright (c) 2018, XJ Music Inc. (https://xj.io) All Rights Reserved. -->

<!-- Inner Content -->
{{outlet}}

{{#if (or auth.isArtist auth.isAdmin)}}
  <div class="form-horizontal container-fluid">
    <div class="col-sm-12 text-right">
      {{#link-to 'accounts.one.libraries.one.sequences.one.patterns.new' model.sequence.library.account
                 model.sequence.library model.sequence}}{{fa-icon "plus"}} Create New Pattern{{/link-to}}
    </div>
  </div>
{{/if}}

<!-- List of Sections -->
<div class="table-list">
  <table class="table">
    <thead>
    <tr>
      <th width="1%">Type</th>
      <th width="1%">Total</th>
      <th>Name</th>
      <th width="1%">Key</th>
      <th width="1%">Density</th>
      <th width="1%">Tempo</th>
      <th><!-- Actions --></th>
      <th width="1%">#</th>
    </tr>
    </thead>
    <tbody>
    {{#each model.patterns as |pattern|}}
      <tr class="item">
        <td>{{pattern.type}}</td>
        <td>{{pattern.total}}</td>
        <td>{{#link-to 'accounts.one.libraries.one.sequences.one.patterns.one' pattern.sequence.library.account
                       pattern.sequence.library pattern.sequence pattern}}{{pattern.name}}{{/link-to}}</td>
        <td>{{pattern.key}}</td>
        <td>{{pattern.density}}</td>
        <td>{{pattern.tempo}}</td>
        <td>
          {{#if (not-eq pattern.sequence.type "Macro")}}
            {{#link-to 'accounts.one.libraries.one.sequences.one.patterns.one.chords'
                       pattern.sequence.library.account pattern.sequence.library pattern.sequence pattern}}
              Chords{{/link-to}}<span>&nbsp;</span>
            {{#link-to 'accounts.one.libraries.one.sequences.one.patterns.one.events'
                       pattern.sequence.library.account pattern.sequence.library pattern.sequence pattern}}
              Events{{/link-to}}<span>&nbsp;</span>
            {{#if (eq pattern.sequence.type "Rhythm")}}{{#link-to
              'accounts.one.libraries.one.sequences.one.patterns.one.stepmatic' pattern.sequence.library.account
              pattern.sequence.library pattern.sequence pattern}}Stepmatic{{/link-to}}<span>&nbsp;</span>{{/if}}
          {{/if}}
          {{entity-actions 'accounts.one.libraries.one.sequences.one.patterns.one' 'edit|clone|destroy'
                           pattern.sequence.library.account pattern.sequence.library pattern.sequence pattern}}
        </td>
        <th scope="row">{{#link-to "accounts.one.libraries.one.sequences.one.patterns.one"
                                   pattern.sequence.library.account pattern.sequence.library pattern.sequence
                                   pattern}}{{pattern.id}}{{/link-to}}</th>
      </tr>
    {{/each}}
    </tbody>
  </table>
</div>

{{#if (or (eq "Macro" model.sequence.type) (eq "Main" model.sequence.type))}}
  <!-- [#163158036] memes bound to sequence-pattern (not pattern) -->
  <div class="form-horizontal container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <h2>Sequence-Pattern Binding</h2>
        <p>After creating patterns, use the controls below to bind your patterns to the sequence in a particular
          order, with particular memes.</p>
      </div>
    </div>
  </div>

  <!-- List records, else display message -->
  <div class="table-list">
    <table class="table">
      <thead>
      <tr>
        <th>Offset</th>
        <th><!-- remove sequence-pattern --></th>
        <th>Pattern</th>
        <th><!-- add meme --></th>
        <th>Memes</th>
      </tr>
      </thead>
      <tbody>
      {{#if model.sequencePatterns.length}}
        {{#each model.sequencePatterns as |sequencePattern|}}
          <tr>
            <td width="1%" class="offset">
              {{sequencePattern.offset}}
            </td>
            <td width="1%">
              <a {{action "removePattern" sequencePattern}} class="action action-destroy">
                {{fa-icon (action-icon "destroy")}}</a>
            </td>
            <td width="1%" class="do-not-break">{{sequencePattern.pattern.name}}</td>
            <td width="1%">
              <a {{action "addMeme" sequencePattern}} class="action action-add">
                {{fa-icon (action-icon "add")}}</a>
            </td>
            <td>
              {{#each sequencePattern.memes as |meme|}}
                <div class="sequence-pattern-meme">
                  <div class="meme-name">{{meme.name}}</div>
                  <a {{action "removeMeme" meme}} class="action action-destroy">
                    {{fa-icon (action-icon "destroy")}}</a>
                </div>
              {{/each}}
            </td>
          </tr>
        {{/each}}
      {{else}}
        <tr>
          <td colspan="5">
            <p>Please bind some sequence-patterns.</p>
          </td>
        </tr>
      {{/if}}
      <tr>
        <td>
          {{input type="text" value=model.offsetToAdd class="form-control" autofocus="autofocus"}}
        </td>
        <td><!-- remove sequence-pattern --></td>
        <td class="do-not-break">
          <!--input type="text" value=model.newSequencePattern.patternId class="form-control" autofocus="autofocus"-->
          <!--placeholder="Pattern ID to grant access"}}-->
          {{#power-select
            placeholder="Select Pattern"
            options=model.patterns
            selected=model.patternToAdd
            searchField='name'
            onchange=(action "setPatternToAdd")
          as |pattern| }}
            {{pattern.name}}
          {{/power-select}}
        </td>
        <td><!-- add meme --></td>
        <td>
          <button type="submit" class="btn btn-default" {{action 'addPattern' model}}>Bind Pattern to
            Sequence
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
{{/if}}
