<!-- Copyright (c) 2017, Outright Mental Inc. (http://outright.io) All Rights Reserved. -->

<!-- Inner content above -->
{{outlet}}

<!-- List of Users -->
<div class="form-horizontal">
  <div class="sm-col-12">
    <div class="table-list">
      <table class="table">
        <thead>
        <tr>
          <th width="50">Pic</th>
          <th>Name</th>
          <th>Email</th>
          <th>Roles</th>
          <th width="1%">#</th>
        </tr>
        </thead>
        <tbody>
        {{#each model as |user|}}
          <tr class="item">
            <td>{{#link-to "users.one" user}}<img class="avatar" src="{{user.avatarUrl}}"/>{{/link-to}}</td>
            <td>{{#link-to "users.one" user}}{{user.name}}{{/link-to}}</td>
            <td>{{user.email}}</td>
            <td>{{user.roles}}</td>
            <th scope="row">{{#link-to "users.one" user}}{{user.id}}{{/link-to}}</th>
          </tr>
        {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</div>