<!-- Copyright (c) 2017, Outright Mental Inc. (https://w.outright.io) All Rights Reserved. -->

<!-- Inner content above -->
{{outlet}}

<!-- Upper Container -->
<div class="form-horizontal container">

  <div class="form-group row">
    <label class="col-sm-2 control-label">Name</label>
    <div class="col-sm-10">
      <div class="readonly-field">{{model.name}}</div>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-2 control-label">Email</label>
    <div class="col-sm-10">
      <div class="readonly-field">{{model.email}}</div>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-2 control-label">Avatar</label>
    <div class="col-sm-1">
      <div class="readonly-field"><a href="{{model.avatarUrl}}"><img src="{{model.avatarUrl}}"/></a></div>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-2 control-label">Roles</label>
    <div class="col-sm-10">
      {{#if auth.isAdmin}}
        {{input type="text" value=model.roles class="form-control" placeholder="The roles of the User"}}
      {{else}}
        <div class="readonly-field">{{model.roles}}</div>
      {{/if}}
    </div>
  </div>
  {{#if auth.isAdmin}}
    <div class="form-group row">
      <div class="offset-sm-2 col-sm-10">
        <button type="submit" class="btn btn-default" {{action 'saveUser' model}}>Save changes</button>
      </div>
    </div>
  {{/if}}
</div>