<!-- Copyright (c) 2020, XJ Music Inc. (https://xj.io) All Rights Reserved. -->

<div class="headline container-fluid">
  <div class="row">
    <div class="col-sm-12">

      <!-- Entity type and ID -->
      <div class="entity">
        Chain
        #{{model.id}}
        <div class="badge {{lowercase model.state}}-state">{{model.state}}</div>
      </div>

      <!-- Title -->
      <h1>
        {{model.name}}
        <!-- should only show following edit icon if user has privileges to edit this chain -->
        <small>
          {{entity-actions "accounts.one.chains.one" "edit|destroy" model.account model.id}}
        </small>
        &lpar;{{model.type}}&rpar;
      </h1>

      <!-- Time -->
      <p class="detail time">
        from <strong>{{model.startAt}}</strong>
        {{#if model.stopAt}}
          to <strong>{{model.stopAt}}</strong>
        {{/if}}
      </p>

    </div>
  </div>
  <div class="row pb-3">

    <!-- State Change -->
    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-4">
      <div class="chain-state-container container-fluid {{lowercase model.state}}-state">
        <table>
          <tbody>
          <tr class="row">
            <th class="align-middle">
              {{capitalize model.state}}
            </th>
            <td>
              {{chain-state-change model submit=(action "chainsUpdated")}}
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>

    <!-- Launch Player -->
    {{#if (eq model.state "Fabricate")}}
      <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3">
        <div class="container-fluid">
          <table>
            <tbody>
            <tr class="row">
              <td>
                {{launch-player model.embedKey}}
              </td>
              <td>
                &nbsp;
              </td>
              <td>
                {{launch-lab model.labUrl}}
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    {{/if}}
  </div>
</div>

<!-- Upper Container -->
<div class="form-horizontal container-fluid">


  <div class="form-group row">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        {{#link-to 'accounts.one.chains.one.bindings' model class='nav-link' class='nav-link'}}Bindings{{/link-to}}
      </li>
    </ul>
  </div>

</div>

<!-- Inner Content -->
{{outlet}}