<!-- Type -->
<div class="form-group row">
  <label class="col-sm-2 control-label">Type</label>
  <div class="col-sm-10">
    <select class="form-control" onchange={{action "selectMessageType" value="target.value"}} title="Type">
      <option value="" selected={{eq model.type ""}}>(select type)</option>
      <option value="Debug" selected={{eq model.type "Debug"}}>Debug</option>
      <option value="Info" selected={{eq model.type "Info"}}>Info</option>
      <option value="Warning" selected={{eq model.type "Warning"}}>Warning</option>
      <option value="Error" selected={{eq model.type "Error"}}>Error</option>
    </select>
  </div>
</div>

<!-- Name -->
<div class="form-group row">

  <label class="col-sm-2 control-label">Body</label>
  <div class="col-sm-10">
    {{textarea rows="10" cols="40" value=model.body class="form-control" autofocus="autofocus"
            placeholder="The body of the Message"}}
  </div>

</div>
