<!-- Copyright (c) 2017, XJ Music Inc. (https://xj.io) All Rights Reserved. -->

<!-- Inner Content -->
{{outlet}}

<!-- Copyright (c) 2017, XJ Music Inc. (https://xj.io) All Rights Reserved. -->

<!-- Upper Container -->
<div class="form-horizontal container-fluid">

  <!-- List of Events -->
  <div class="col-sm-12">
    <div class="table-list">
      <table class="table">
        <thead>
        <tr>
          <th width="1%">Position</th>
          <th width="1%">Note</th>
          <th width="1%">Inflection</th>
          <th width="1%">Duration</th>
          <th width="1%">Tonality</th>
          <th width="1%">Velocity</th>
          <th><!-- Actions --></th>
          <th width="1%">#</th>
        </tr>
        </thead>
        <tbody>
        {{#each model.events as |event|}}
          <tr class="item">
            <th scope="row">{{event.position}}</th>
            <td>{{event.note}}</td>
            <td>{{event.inflection}}</td>
            <td>{{event.duration}}</td>
            <td>{{event.tonality}}</td>
            <td>{{event.velocity}}</td>
            <td>
              {{#link-to 'accounts.one.libraries.one.instruments.one.audios.one.events.one.edit' event.audio.instrument.library.account event.audio.instrument.library event.audio.instrument event.audio event}}{{fa-icon 'edit'}}{{/link-to}}
            </td>
            <td>{{event.id}}</td>
          </tr>
        {{/each}}
        </tbody>
      </table>
    </div>
  </div>

  {{#if (or auth.isArtist auth.isAdmin)}}
    <div class="col-sm-12">
      Or: {{#link-to 'accounts.one.libraries.one.instruments.one.audios.one.events.new' model.audio.instrument.library.account model.audio.instrument.library model.audio.instrument model.audio}}Create New Event{{/link-to}}
    </div>
  {{/if}}
</div>
