<!-- Copyright (c) 2018, XJ Music Inc. (https://xj.io) All Rights Reserved. -->

<!-- Inner Content -->
{{outlet}}

<!-- Copyright (c) 2018, XJ Music Inc. (https://xj.io) All Rights Reserved. -->

<!-- Upper Container -->
{{#if (or auth.isArtist auth.isAdmin)}}
  <div class="form-horizontal container-fluid">
    <div class="col-sm-12 text-right">
      {{#link-to 'accounts.one.libraries.one.instruments.one.audios.one.events.new'
                 model.audio.instrument.library.account model.audio.instrument.library model.audio.instrument
                 model.audio}}{{fa-icon "plus"}} Create New Event{{/link-to}}
    </div>
  </div>
{{/if}}

<!-- List of Events -->
<div class="table-list">
  <table class="table">
    <thead>
    <tr>
      <th width="1%">Position</th>
      <th width="1%">Note</th>
      <th width="1%">Name</th>
      <th width="1%">Duration</th>
      <th width="1%">Tonality</th>
      <th width="1%">Velocity</th>
      <th><!-- Actions --></th>
      <th width="1%">#</th>
    </tr>
    </thead>
    <tbody>
    {{#each model.events as |event|}}
      <tr class="item">
        <th scope="row">{{event.position}}</th>
        <td>{{event.note}}</td>
        <td>{{event.name}}</td>
        <td>{{event.duration}}</td>
        <td>{{event.tonality}}</td>
        <td>{{event.velocity}}</td>
        <td>
          {{entity-actions 'accounts.one.libraries.one.instruments.one.audios.one.events.one' 'edit|destroy'
                           event.instrumentAudio.instrument.library.account
                           event.instrumentAudio.instrument.library
                           event.instrumentAudio.instrument
                           event.instrumentAudio event}}
        </td>
        <td>{{event.id}}</td>
      </tr>
    {{/each}}
    </tbody>
  </table>
</div>
