<!-- Copyright (c) 2017, Outright Mental Inc. (http://outright.io) All Rights Reserved. -->
{{outlet}}

<div class="table-list">
  <table class="table">
    <thead>
    <tr>
      <th>#</th>
      <th width="50">Pic</th>
      <th>Name</th>
      <th>Email</th>
      <th>Roles</th>
    </tr>
    </thead>
    <tbody>
    {{#each model as |user|}}
      <tr class="item" {{action "edit" user}}>
        <th scope="row">{{user.id}}</th>
        <td><img class="avatar" src="{{user.avatarUrl}}"/></td>
        <td>{{user.name}}</td>
        <td>{{user.email}}</td>
        <td>{{user.roles}}</td>
      </tr>
    {{/each}}
    </tbody>
  </table>
</div>