<!-- Copyright (c) 2017, Outright Mental Inc. (http://outright.io) All Rights Reserved. -->

<!-- Inner Content -->
{{outlet}}

<!-- Copyright (c) 2017, Outright Mental Inc. (http://outright.io) All Rights Reserved. -->

<!-- Upper Container -->
<div class="form-horizontal">

  <!-- List of Chains -->
  <div class="sm-col-12">
    <div class="table-list">
      <table class="table">
        <thead>
        <tr>
          <th width="1%">Type</th>
          <th width="1%">Name</th>
          <th width="1%">State</th>
          <th width="1%">Start At</th>
          <th width="1%">Stop At</th>
          <th></th>
          <th width="1%">#</th>
        </tr>
        </thead>
        <tbody>
        {{#each model.chains as |chain|}}
          <tr class="item {{chain.state}}-state">
            <td>{{chain.type}}</td>
            <td>{{chain.name}}</td>
            <td>{{chain.state}}</td>
            <td>{{chain.startAt}}</td>
            <td>{{chain.stopAt}}</td>
            <td>
              {{#link-to 'accounts.one.chains.one.edit' chain}}Edit{{/link-to}}
              |&nbsp;{{#link-to 'accounts.one.chains.one.configs' chain}}Configs{{/link-to}}
              |&nbsp;{{#link-to 'accounts.one.chains.one.libraries' chain}}Libraries{{/link-to}}
              |&nbsp;{{#link-to 'accounts.one.chains.one.instruments' chain}}Instruments{{/link-to}}
              |&nbsp;{{#link-to 'accounts.one.chains.one.ideas' chain}}Ideas{{/link-to}}
              |&nbsp;{{#link-to 'accounts.one.chains.one.links' chain}}Links{{/link-to}}
            </td>
            <th scope="row">{{#link-to "accounts.one.chains.one" chain}}{{chain.id}}{{/link-to}}</th>
          </tr>
        {{/each}}
        </tbody>
      </table>
    </div>
  </div>

  {{#if auth.isAdmin}}
    <div class="sm-col-12">
      Or: {{#link-to 'accounts.one.chains.new'}}Create New Chain{{/link-to}}
    </div>
  {{/if}}
</div>
