<!-- Copyright (c) 2017, Outright Mental Inc. (https://w.outright.io) All Rights Reserved. -->

<!-- Row -->
<div class="form-horizontal container-fluid">
  <div class="form-group row">

    <!-- State Change -->
    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3">
      <div class="chain-state-change container-fluid {{model.state}}-state">
        <table>
          <tbody>
          <tr class="row">
            <th class="align-middle">
              {{capitalize model.state}}
            </th>
            <td>
              {{chain-state-change model}}
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>

    <!-- Play Chain -->
    {{#if (or (eq model.state "fabricating") (eq model.state "complete"))}}
      <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3">
        <div class="{{if (eq play.chain.id model.id)
                         'now-playing'}} play-chain container-fluid">
          <table>
            <tbody>
            <tr class="row">
              <th class="align-middle">
                {{#if (eq play.chain.id model.id)}}
                  {{play.state}}
                {{else}}
                  Play
                {{/if}}
              </th>
              <td>
                <button type="button" aria-label="play chain #{{model.id}}"
                        class="btn btn-success link-play" {{action 'play' model}}>
                  &#9658;
                </button>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    {{/if}}

  </div>
</div>

<!-- Inner Content -->
{{outlet}}