<!-- Copyright (c) 2020, XJ Music Inc. (https://xj.io) All Rights Reserved. -->

<!-- Inner Content -->
{{outlet}}

<!-- Only show list of records if non-empty -->
{{#if model.chain.chainBindings.length}}
  <div class="table-list">
    <table class="table">
      <thead>
      <tr>
        <th>Type</th>
        <th>Name</th>
        <th>Action</th>
      </tr>
      </thead>
      <tbody>
      {{#each model.chainBindings as |chainBinding|}}
        <tr>
          <td>
            {{chainBinding.type}}
          </td>
          <td>
            {{#if (eq "Library" chainBinding.type)}}
              {{link-to-library model.libraries chainBinding.targetId}}
            {{/if}}
            {{#if (eq "Program" chainBinding.type)}}
              {{link-to-program model.programs chainBinding.targetId}}
            {{/if}}
            {{#if (eq "Instrument" chainBinding.type)}}
              {{link-to-instrument model.instruments chainBinding.targetId}}
            {{/if}}
          </td>
          <td>
            <button {{action "removeBinding" chainBinding}}>Remove</button>
          </td>
        </tr>
      {{/each}}
      </tbody>
    </table>
  </div>
{{else}}
  <div class="form-horizontal container-fluid">
    <div class="col-sm-12">
      <p>Nothing is bound to this Chain.</p>
    </div>
  </div>
{{/if}}

<!-- Add a Binding to this Chain -->
<div class="form-horizontal container-fluid">
  <div class="form-group row">
    <label class="col-sm-2 control-label">Type</label>
    <div class="col-sm-10">
      <select class="form-control" onchange={{action "setBindingType" value="target.value"}} title="Type">
        <option value="" selected disabled>Select Type</option>
        <option value="Library" selected={{eq "Library" model.bindingType}}>Library</option>
        <option value="Program" selected={{eq "Program" model.bindingType}}>Program</option>
        <option value="Instrument" selected={{eq "Instrument" model.bindingType}}>Instrument</option>
      </select>
    </div>
  </div>

  {{#if (eq "Library" model.bindingType)}}
    <div class="form-group row">
      <label class="col-sm-2 control-label">Library</label>
      <div class="col-sm-10">
        <!--input type="text" value=model.newChainBinding.bindingId class="form-control" autofocus="autofocus"-->
        <!--placeholder="Binding ID to grant access"}}-->
        {{#power-select
                placeholder="Select Library"
                options=model.libraries
                selected=model.libraryToAdd
                searchField='name'
                onChange=(action "setLibraryToAdd")
        as |binding| }}
          {{binding.name}}
        {{/power-select}}
      </div>
    </div>
  {{/if}}

  {{#if (eq "Program" model.bindingType)}}
    <div class="form-group row">
      <label class="col-sm-2 control-label">Program</label>
      <div class="col-sm-10">
        <!--input type="text" value=model.newChainBinding.bindingId class="form-control" autofocus="autofocus"-->
        <!--placeholder="Binding ID to grant access"}}-->
        {{#power-select
                placeholder="Select Program"
                options=model.programs
                selected=model.programToAdd
                searchField='name'
                onChange=(action "setProgramToAdd")
        as |binding| }}
          {{binding.name}} ({{binding.type}})
        {{/power-select}}
      </div>
    </div>
  {{/if}}

  {{#if (eq "Instrument" model.bindingType)}}
    <div class="form-group row">
      <label class="col-sm-2 control-label">Instrument</label>
      <div class="col-sm-10">
        <!--input type="text" value=model.newChainBinding.bindingId class="form-control" autofocus="autofocus"-->
        <!--placeholder="Binding ID to grant access"}}-->
        {{#power-select
                placeholder="Select Instrument"
                options=model.instruments
                selected=model.instrumentToAdd
                searchField='name'
                onChange=(action "setInstrumentToAdd")
        as |binding| }}
          {{binding.name}} ({{binding.type}})
        {{/power-select}}
      </div>
    </div>
  {{/if}}

  <div class="form-group row">
    <div class="offset-sm-2 col-sm-10">
      <button type="submit" class="btn btn-primary" {{action 'addBinding' model}}>Add Binding</button>
    </div>
  </div>
</div>

