<!-- Copyright (c) 2020, XJ Music Inc. (https://xj.io) All Rights Reserved. -->

<!-- Inner Content -->
{{outlet}}

<!-- Only show list of records if non-empty -->
{{#if model.chain.chainConfigs.length}}
  <div class="table-list">
    <table class="table">
      <thead>
      <tr>
        <th>#</th>
        <th>Type</th>
        <th>Value</th>
        <th>Action</th>
      </tr>
      </thead>
      <tbody>
      {{#each model.chain.chainConfigs as |chainConfig|}}
        <tr>
          <th scope="row">{{chainConfig.id}}</th>
          <td>{{chainConfig.type}}</td>
          <td>{{chainConfig.value}}</td>
          <td>
            <button {{action "removeConfig" chainConfig}}>Remove</button>
          </td>
        </tr>
      {{/each}}
      </tbody>
    </table>
  </div>
{{else}}
  <div class="form-horizontal container-fluid">
    <div class="col-sm-12">
      <p>This Chain is using the default configuration.</p>
    </div>
  </div>
{{/if}}

<div class="form-horizontal container-fluid">
  <div class="form-group row">
    <label class="col-sm-2 control-label">Bind Config Type</label>
    <div class="col-sm-10">
      <select class="form-control" onchange={{action "selectChainConfigToAddType" value="target.value"}} title="Type">
        {{#if model.chainConfigTypes}}
          <option value="" selected={{eq model.configType ""}}>(select type)</option>
          {{#each model.chainConfigTypes as |type|}}
            <option value={{type}} selected={{eq model.configType type}}>{{type}}</option>
          {{/each}}
        {{else}}
          <option value={{model.configType}} selected>{{model.configType}}</option>
        {{/if}}
      </select>
    </div>
  </div>

  <!-- Value -->
  <div class="form-group row">
    <label class="col-sm-2 control-label">Value</label>
    <div class="col-sm-10">
      {{input type="text" value=model.configValue class="form-control" autofocus="autofocus"
              placeholder="The configuration value"}}
    </div>
  </div>

  <div class="form-group row">
    <div class="offset-sm-2 col-sm-10">
      <button type="submit" class="btn btn-default" {{action 'addConfig' model}}>Bind Config to
        Chain
      </button>
    </div>
  </div>
</div>

