<!-- Copyright (c) 2020, XJ Music Inc. (https://xj.io) All Rights Reserved. -->

<!-- Inner Content -->
{{outlet}}

<!-- Upper Container -->
{{#modal-dialog }}

  {{#if (or (eq "Draft" model.state) (eq "Complete" model.state) (eq "Failed" model.state))}}
    <div class="form-horizontal container-fluid">
      <div class="form-group row">
        <div class="col-sm-10">
          <button type="submit" autofocus="autofocus" class="btn btn-danger" {{action 'destroy' model}}>
            Destroy {{model.name}}</button>
          <button type="button" class="btn btn-default" {{action 'cancel' model}}>Cancel</button>
        </div>
      </div>
    </div>
  {{else}}
    <div class="container-fluid">
      <div class="col-12">
        <p>Can only delete Chain in states <strong>Draft</strong>, <strong>Complete</strong>, or <strong>Failed</strong>.
        </p>
      </div>
    </div>
  {{/if}}

{{/modal-dialog}}
