<!-- Section (Parent) -->
<div class="form-group row">
  <label class="col-sm-2 control-label">Pattern</label>
  <div class="col-sm-10">
    <div class="readonly-field">{{model.event.pattern.name}}</div>
  </div>
</div>

<!-- Voice (Relationship) -->
<div class="form-group row">
  <label class="col-sm-2 control-label">Voice</label>
  <div class="col-sm-10">
    {{#power-select
      placeholder="Select Voice"
      options=model.voices
      selected=model.event.voice
      searchField='description'
      onchange=(action "setEventVoice")
    as |voice| }}
      {{voice.description}} (#{{voice.id}})
    {{/power-select}}
  </div>
</div>

<!-- Note -->
<div class="form-group row">
  <label class="col-sm-2 control-label">Note</label>
  <div class="col-sm-10">
    {{input type="text" value=model.event.note class="form-control" autofocus="autofocus"
            placeholder="The note of the Event"}}
  </div>
</div>

<!-- Inflection -->
<div class="form-group row">
  <label class="col-sm-2 control-label">Inflection</label>
  <div class="col-sm-10">
    {{input type="text" value=model.event.inflection class="form-control" autofocus="autofocus"
            placeholder="The inflection of the Event"}}
  </div>
</div>

<!-- Position -->
<div class="form-group row">
  <label class="col-sm-2 control-label">Position</label>
  <div class="col-sm-10">
    {{input type="number" step="any" value=model.event.position class="form-control"
            placeholder="The position of the Event"}}
  </div>
</div>

<!-- Velocity -->
<div class="form-group row">
  <label class="col-sm-2 control-label">Velocity</label>
  <div class="col-sm-10">
    {{input type="number" step="any" value=model.event.velocity class="form-control"
            placeholder="The velocity of the Event"}}
  </div>
</div>

<!-- Tonality -->
<div class="form-group row">
  <label class="col-sm-2 control-label">Tonality</label>
  <div class="col-sm-10">
    {{input type="number" step="any" value=model.event.tonality class="form-control"
            placeholder="The tonality of the Event"}}
  </div>
</div>

<!-- Duration -->
<div class="form-group row">
  <label class="col-sm-2 control-label">Duration</label>
  <div class="col-sm-10">
    {{input type="number" step="any" value=model.event.duration class="form-control"
            placeholder="The duration of the Event"}}
  </div>
</div>

