<!-- Copyright (c) 2017, Outright Mental Inc. (https://w.outright.io) All Rights Reserved. -->


<div id="play-info">
  {{capitalize play.state}}

  {{#if play.chain}}
    {{#link-to "accounts.one.chains.one" play.chain}}Chain <sup>#</sup>{{play.chain.id}}{{/link-to}}
  {{/if}}

  {{#if play.link}}
    Link {{play.link.offset}}
  {{/if}}

  {{#if (eq play.state "Playing")}}
    <button class="stop" {{action "stop"}}>&#9640;</button>
  {{/if}}

</div>


{{yield}}
