<!-- Copyright (c) 2017, XJ Music Inc. (https://xj.io) All Rights Reserved. -->

<!-- Inner Content -->
{{outlet}}


<!-- Upper Container -->
<div class="form-horizontal container-fluid">

  <!-- List of Events -->
  <div class="col-sm-12">
    <div class="table-list">
      <table class="table">
        <thead>
        <tr>
          <th width="1%">Position</th>
          <th width="1%">Duration</th>
          <th width="1%">Velocity</th>
          <th width="1%">Note</th>
          <th width="1%">Inflection</th>
          <th width="1%">Tonality</th>
          <th><!-- Actions --></th>
          <th width="1%">#</th>
        </tr>
        </thead>
        <tbody>
        {{#each model.events as |event|}}
          <tr class="item">
            <th scope="row">{{event.position}}</th>
            <td>{{event.duration}}</td>
            <td>{{event.velocity}}</td>
            <td>{{event.note}}</td>
            <td>{{event.inflection}}</td>
            <td>{{event.tonality}}</td>
            <td>
              {{entity-actions 'accounts.one.libraries.one.patterns.one.phases.one.voices.one.events.one' 'edit|destroy' event.voice.phase.pattern.library.account event.voice.phase.pattern.library event.voice.phase.pattern event.voice.phase event.voice event}}
            </td>
            <td>{{event.id}}</td>
          </tr>
        {{/each}}
        </tbody>
      </table>
    </div>
  </div>

  {{#if (or auth.isArtist auth.isAdmin)}}
    <div class="col-sm-12">
      Or: {{#link-to 'accounts.one.libraries.one.patterns.one.phases.one.voices.one.events.new' model.voice.phase.pattern.library.account model.voice.phase.pattern.library model.voice.phase.pattern model.voice.phase model.voice}}Create New Event{{/link-to}}
    </div>
  {{/if}}
</div>
