<!-- Copyright (c) 2018, XJ Music Inc. (https://xj.io) All Rights Reserved. -->

<!-- Inner Content -->
{{outlet}}

<!-- Upper Container -->
<div class="form-horizontal container-fluid">

  <!-- List of Segments -->
  <div class="col-sm-12">
    <div class="table-list">
      <table class="table">
        <thead>
        <tr>
          <th width="1%">Offset</th>
          <th width="1%">State</th>
          <th>End At</th>
          <th>Total</th>
          <th>Density</th>
          <th>Key</th>
          <th>Tempo</th>
          <th>Memes</th>
          <th>Choices</th>
          <th>Chords</th>
          <th>Messages</th>
          <th width="1%">Play</th>
        </tr>
        </thead>
        <tbody>
        {{#each model.segments as |segment|}}
          <tr id="segment-{{segment.id}}" class="item {{lowercase segment.state}}-state {{if (eq player.currentSegment.id segment.id) 'now-playing'}}">
            <th>{{#link-to "accounts.one.chains.one.segments.one" segment}}{{segment.offset}}{{/link-to}}</th>
            <td>{{segment.state}}</td>
            <td>{{segment.endAt}}</td>
            <td>{{segment.total}}</td>
            <td>{{segment.density}}</td>
            <td>{{segment.key}}</td>
            <td>{{segment.tempo}}</td>
            <td>{{segment-memes segment}}</td>
            <td>{{segment-choices segment}}</td>
            <td>{{segment-chords segment}}</td>
            <td>{{message-badges segment}}</td>
            <td>{{#if (eq segment.state "Dubbed")}}
              <button type="button" aria-label="play segment offset {{segment.offset}}"
                      class="btn segment-play" {{action 'play' model.chain segment}}>&#9658;
              </button>
            {{/if}}</td>
          </tr>
        {{/each}}
        </tbody>
      </table>
    </div>
  </div>

</div>
