<!-- Copyright (c) 2017, Outright Mental Inc. (http://outright.io) All Rights Reserved. -->

<!-- Inner Content -->
{{outlet}}

<!-- Copyright (c) 2017, Outright Mental Inc. (http://outright.io) All Rights Reserved. -->

<!-- Upper Container -->
<div class="form-horizontal">

  <!-- List of Events -->
  <div class="sm-col-12">
    <div class="table-list">
      <table class="table">
        <thead>
        <tr>
          <th>Position</th>
          <th>Duration</th>
          <th>Velocity</th>
          <th>Note</th>
          <th>Inflection</th>
          <th>Tonality</th>
          <th>Action</th>
          <th>#</th>
        </tr>
        </thead>
        <tbody>
        {{#each model.events as |event|}}
          <tr class="item">
            <th scope="row">{{event.position}}</th>
            <td>{{event.duration}}</td>
            <td>{{event.velocity}}</td>
            <td>{{event.note}}</td>
            <td>{{event.inflection}}</td>
            <td>{{event.tonality}}</td>
            <td>
              {{#link-to 'accounts.one.libraries.one.ideas.one.phases.one.voices.one.events.one.edit' event}}Edit{{/link-to}}
            </td>
            <td>{{#link-to "accounts.one.libraries.one.ideas.one.phases.one.voices.one.events.one" event}}{{event.id}}{{/link-to}}</td>
          </tr>
        {{/each}}
        </tbody>
      </table>
    </div>
  </div>

  {{#if (or auth.isArtist auth.isAdmin)}}
    <div class="sm-col-12">
      Or: {{#link-to 'accounts.one.libraries.one.ideas.one.phases.one.voices.one.events.new'}}Create New Event{{/link-to}}
    </div>
  {{/if}}
</div>
