<!-- Copyright (c) 2017, Outright Mental Inc. (http://outright.io) All Rights Reserved. -->

<!-- Inner Content -->
{{outlet}}

<!-- Lower Section -->
<div class="form-horizontal">

  <!-- Header -->
  <div class="form-group">
    <div class="col-sm-12">
      <h5>{{#link-to "accounts.one.libraries.one.ideas.one.phases.one.voices.one.events" model.voice}}({{model.voice.type}}) {{model.voice.description}}{{/link-to}}</h5>
      <h1>New Event</h1>
    </div>
  </div>

  {{partial "accounts/one/libraries/one/ideas/one/phases/one/voices/one/events/one/form"}}

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default" {{action 'createEvent' model}}>Create</button>
    </div>
  </div>

</div>
