<!-- Copyright (c) 2017, Outright Mental Inc. (https://w.outright.io) All Rights Reserved. -->

<!-- Inner Content -->
{{outlet}}

<!-- Upper Container -->
<div class="form-horizontal container-fluid">

  <!-- List of Voices -->
  <div class="col-sm-12">
    <div class="table-list">
      <table class="table">
        <thead>
        <tr>
          <th width="1%">Type</th>
          <th>Description</th>
          <th><!-- Actions --></th>
          <th width="1%">#</th>
        </tr>
        </thead>
        <tbody>
        {{#each model.voices as |voice|}}
          <tr class="item">
            <td>{{voice.type}}</td>
            <td>{{#link-to "accounts.one.libraries.one.patterns.one.phases.one.voices.one" voice}}{{voice.description}}{{/link-to}}</td>
            <td>
              {{#link-to 'accounts.one.libraries.one.patterns.one.phases.one.voices.one.edit' voice.phase.pattern.library.account voice.phase.pattern.library voice.phase.pattern voice.phase voice}}{{fa-icon 'edit'}}{{/link-to}}
              |&nbsp;{{#link-to 'accounts.one.libraries.one.patterns.one.phases.one.voices.one.events' voice}}Events{{/link-to}}
            </td>
            <th scope="row">{{voice.id}}</th>
          </tr>
        {{/each}}
        </tbody>
      </table>
    </div>
  </div>

  {{#if (or auth.isArtist auth.isAdmin)}}
    <div class="col-sm-12">
      Or: {{#link-to 'accounts.one.libraries.one.patterns.one.phases.one.voices.new' model.phase.pattern.library.account model.phase.pattern.library model.phase.pattern model.phase}}Create New Voice{{/link-to}}
    </div>
  {{/if}}
</div>
