<!-- Copyright (c) 2020, XJ Music Inc. (https://xj.io) All Rights Reserved. -->

<!-- Inner Content -->
{{outlet}}


<!-- Admin -->
{{#if auth.isAdmin}}
  <div class="form-horizontal container-fluid">
    <div class="row">
      <div class="col-sm-12 text-right">
        {{#link-to 'accounts.one.chains.new' model.account}}{{fa-icon "plus"}} New Chain{{/link-to}}
      </div>
    </div>
  </div>
{{/if}}

<!-- List of Chains -->
{{#if model.chains.length}}
  <div class="table-list">
    <table class="table">
      <thead>
      <tr>
        <th width="1%"><!--Navigate To--></th>
        <th>Name</th>
        <th width="1%">Type</th>
        <th width="1%">State</th>
        <th width="1%"><!--Change State To --></th>
        <th width="1%">Start At</th>
        <th><!-- Actions --></th>
        <th width="1%">Follow</th>
      </tr>
      </thead>
      <tbody>
      {{#each model.chains as |chain|}}
        <tr class="item {{lowercase chain.state}}-state {{if (eq player.currentChain.id chain.id) 'now-following'}}">
          <td>{{#link-to "accounts.one.chains.one.segments" chain.id class="btn btn-icon-open"}}{{/link-to}}</td>
          <td>{{#link-to "accounts.one.chains.one" chain.id}}{{chain.name}}{{/link-to}}</td>
          <td>{{chain.type}}</td>
          <td>{{chain.state}}</td>

          <td>
            {{chain-state-change chain submit=(action "chainsUpdated")}}
          </td>

          <td>{{chain.startAt}}</td>
          <td>
            {{#link-to 'accounts.one.chains.one.segments' chain.account.id chain.id}}Segments{{/link-to}}
            <span>&nbsp;</span>
            {{#link-to 'accounts.one.chains.one.configs' chain.account.id chain.id}}Configs{{/link-to}}
            <span>&nbsp;</span>
            {{#link-to 'accounts.one.chains.one.bindings' chain.account.id chain.id}}Bindings{{/link-to}}
            <span>&nbsp;</span>
            {{entity-actions "accounts.one.chains.one" "edit|destroy" chain.account.id chain.id}}
          </td>
          <td>{{#if (or (eq chain.state "Fabricate") (eq chain.state "Complete"))}}
            <button type="button" aria-label="follow chain {{chain.id}}"
                    class="btn segment-follow" {{action 'follow' chain}}><!--Follow-->&#9658;
            </button>
          {{/if}}</td>
        </tr>
      {{/each}}
      </tbody>
    </table>
  </div>
{{/if}}

