<!-- Copyright (c) 2017, Outright Mental Inc. (http://outright.io) All Rights Reserved. -->

<!-- Inner Content -->
{{outlet}}

<!-- Copyright (c) 2017, Outright Mental Inc. (http://outright.io) All Rights Reserved. -->

<!-- Upper Container -->
<div class="form-horizontal">

  <!-- List of Ideas -->
  <div class="sm-col-12">
    <div class="table-list">
      <table class="table">
        <thead>
        <tr>
          <th width="1%">By</th>
          <th width="1%">Type</th>
          <th>Name</th>
          <th width="4%">Key</th>
          <th width="4%">Density</th>
          <th width="4%">Tempo</th>
          <th><!-- Actions --></th>
          <th width="1%">#</th>
        </tr>
        </thead>
        <tbody>
        {{#each model.ideas as |idea|}}
          <tr class="item">
            <td>{{#link-to "users.one" idea.user}}
              <img src="{{idea.user.avatarUrl}}" alt="{{idea.user.name}}" class="avatar"/>{{/link-to}}</td>
            <td>{{idea.type}}</td>
            <td>{{#link-to "accounts.one.libraries.one.ideas.one" idea}}{{idea.name}}{{/link-to}}</td>
            <td>{{idea.key}}</td>
            <td style="white-space: nowrap">{{idea.density}}</td>
            <td>{{idea.tempo}}</td>
            <td>
              {{#link-to 'accounts.one.libraries.one.ideas.one.memes' idea}}Memes{{/link-to}}
              |&nbsp;{{#link-to 'accounts.one.libraries.one.ideas.one.phases' idea}}Phases{{/link-to}}
            </td>
            <th scope="row">{{idea.id}}</th>
          </tr>
        {{/each}}
        </tbody>
      </table>
    </div>
  </div>

  {{#if (or auth.isArtist auth.isAdmin)}}
    <div class="sm-col-12">
      Or: {{#link-to 'accounts.one.libraries.one.ideas.new'}}Create New Idea{{/link-to}}
    </div>
  {{/if}}
</div>
