<!-- Copyright (c) 2017, Outright Mental Inc. (http://outright.io) All Rights Reserved. -->

<!-- Inner Content -->
{{outlet}}

<!-- Copyright (c) 2017, Outright Mental Inc. (http://outright.io) All Rights Reserved. -->

<!-- Upper Container -->
<div class="form-horizontal">

  <!-- Header -->
  <div class="form-group">
    <div class="col-sm-12">
      <h5>{{#link-to "accounts.one.libraries.one" model.library}}{{model.library.name}}{{/link-to}}</h5>
      <h1>Ideas</h1>
    </div>
  </div>

  <!-- List of Ideas -->
  <div class="sm-col-12">
    <div class="table-list">
      <table class="table">
        <thead>
        <tr>
          <th>#</th>
          <th>Owner</th>
          <th>Type</th>
          <th>Name</th>
          <th>Key</th>
          <th>Density</th>
          <th>Tempo</th>
          <th>Action</th>
        </tr>
        </thead>
        <tbody>
        {{#each model.ideas as |idea|}}
          <tr class="item">
            <th scope="row">{{#link-to "accounts.one.libraries.one.ideas.one" idea}}{{idea.id}}{{/link-to}}</th>
            <td>{{#link-to "users.one" idea.user}}<img src="{{idea.user.avatarUrl}}" class="avatar" />&nbsp;{{idea.user.name}}{{/link-to}}</td>
            <td>{{idea.type}}</td>
            <td>{{idea.name}}</td>
            <td>{{idea.key}}</td>
            <td>{{idea.density}}</td>
            <td>{{idea.tempo}}</td>
            <td>
              {{#link-to 'accounts.one.libraries.one.ideas.one.edit' idea}}Edit{{/link-to}}
              |&nbsp;{{#link-to 'accounts.one.libraries.one.ideas.one.memes' idea}}Memes{{/link-to}}
              |&nbsp;{{#link-to 'accounts.one.libraries.one.ideas.one.phases' idea}}Phases{{/link-to}}
            </td>
          </tr>
        {{/each}}
        </tbody>
      </table>
    </div>
  </div>

  {{#if (or auth.isArtist auth.isAdmin)}}
    <div class="sm-col-12">
      Or: {{#link-to 'accounts.one.libraries.one.ideas.new'}}Create New Idea{{/link-to}}
    </div>
  {{/if}}
</div>
