<!-- Copyright (c) 2018, XJ Music Inc. (https://xj.io) All Rights Reserved. -->

<div class="headline container-fluid {{if model.hasDirtyAttributes 'dirty'}}">
  <div class="row">
    <div class="col-sm-12">

      <!-- Entity type and ID -->
      <div class="entity">
        {{#if model.id}}
          Instrument #{{model.id}}
        {{else}}
          New Instrument
        {{/if}}
      </div>

      <!-- Title -->
      <h1>
        {{#if model.name}}
          {{model.name}}
        {{else}}
          Nondescript Instrument
        {{/if}}
        <small>
          {{#edit-instrument-attributes model}}{{fa-icon "edit"}}{{/edit-instrument-attributes}}
          {{#if model.hasDirtyAttributes}}
            <a class="action commit" {{action 'commit'}}>{{fa-icon "check"}}</a>
            <a class="action revert" {{action 'revert'}}>{{fa-icon "history"}}</a>
          {{else}}
            <a class="action action-destroy" {{action 'destroy'}}>{{fa-icon "times"}}</a>
          {{/if}}
        </small>
      </h1>

    </div>
  </div>
</div>

<!-- Inner Content -->
{{outlet}}